<p-menubar
  [model]="items"
  styleClass="bg-zinc-900 text-gray-300 shadow-md border-none p-3"
>
  <ng-template pTemplate="start">
    <div class="flex items-center space-x-2 mr-6">
      <img src="assets/a2h-menu.png" alt="Logo" class="h-12" />
    </div>
  </ng-template>

  <ng-template pTemplate="end">
    <p-avatar
      icon="pi pi-user"
      shape="circle"
      styleClass="bg-zinc-700 text-white"
      (click)="toggleMenu($event)"
      [ngClass]="{ 'cursor-pointer': isAvatarClickable }"
    ></p-avatar>
    <p-menu
      #menu
      [model]="avatarItems"
      [popup]="true"
      [style]="{ width: '200px' }"
      appendTo="body"
      styleClass="bg-zinc-800 text-gray-300 border-none"
    ></p-menu>
  </ng-template>
</p-menubar>
