<app-breadcrumb [itemsBreadcrumb]="itemsBreadcrumb"></app-breadcrumb>

<app-spinner [loading]="isLoading"></app-spinner>
<app-confirm-dialog></app-confirm-dialog>

<div class="container mx-auto">
  <div class="card mt-10">
    <app-table-header [title]="title"></app-table-header>

    <ng-container *ngIf="stocks$ | async as stocks">
      <app-table
        [value]="stocks"
        [rows]="5"
        [rowsPerPageOptions]="[5, 10, 25]"
        [lazy]="true"
        (onLazyLoad)="loadGeneralStocks($event)"
        [totalRecords]="totalRecords"
        [loading]="isLoading"
        [colspan]="7"
      >
        <ng-template #captionTemplate let-dt>
          <div class="flex items-center justify-between">
            <p-iconfield>
              <p-inputicon styleClass="pi pi-search" />
              <input
                pInputText
                type="text"
                (input)="onSearchInput($any($event.target).value)"
                placeholder="Pesquisar..."
              />
            </p-iconfield>
            <div>
              <p-button
                label="Exportar"
                icon="pi pi-upload"
                severity="secondary"
                (click)="exportGeneralStocks()"
              />
            </div>
          </div>
        </ng-template>

        <ng-template #headerTemplate>
          <tr>
            <th style="min-width: 20rem">PRODUTO</th>
            <th style="min-width: 12rem">CATEGORIA PRINCIPAL</th>
            <th style="min-width: 15rem">SUBCATEGORIA</th>
            <th style="min-width: 15rem">FORMA DE APRESENTAÇÃO</th>
            <th style="min-width: 12rem">QUANTIDADE ATUAL</th>
            <th style="min-width: 12rem">CUSTO MÉDIO</th>
            <th style="min-width: 12rem">QUANTIDADE MÍNIMA</th>
            <th style="min-width: 15rem">QUANTIDADE RESERVADA</th>
          </tr>
        </ng-template>

        <ng-template #bodyTemplate let-stock>
          <tr>
            <td>{{ stock.product.name }}</td>
            <td>{{ stock.product.mainCategory }}</td>
            <td>{{ stock.product.subCategory }}</td>
            <td>{{ stock.product.presentationForm }}</td>
            <td>{{ stock.currentQuantity }}</td>
            <td>{{ stock.averageCost | currency : "BRL" }}</td>
            <td>{{ stock.minQuantity }}</td>
            <td>{{ stock.reservedQuantity }}</td>
          </tr>
        </ng-template>
      </app-table>
    </ng-container>
  </div>
</div>
