<app-breadcrumb [itemsBreadcrumb]="itemsBreadcrumb"></app-breadcrumb>

<app-spinner [loading]="isLoading"></app-spinner>
<app-confirm-dialog></app-confirm-dialog>

<div class="container mx-auto">
  <div class="card mt-10">
    <app-table-header [title]="title"></app-table-header>

    <ng-container *ngIf="stockAdjustments$ | async as adjustments">
      <app-table
        [value]="adjustments"
        [rows]="5"
        [rowsPerPageOptions]="[5, 10, 25]"
        [lazy]="true"
        (onLazyLoad)="loadStockAdjustments($event)"
        [totalRecords]="totalRecords"
        [globalFilterFields]="[
          'id',
          'type',
          'adjustmentDate',
          'reason',
          'responsibleName',
          'observation'
        ]"
        [loading]="isLoading"
        [colspan]="9"
      >
        <ng-template #captionTemplate let-dt>
          <div class="flex items-center justify-between">
            <p-iconfield>
              <p-inputicon styleClass="pi pi-search" />
              <input
                pInputText
                type="text"
                (input)="onSearchInput($any($event.target).value)"
                placeholder="Pesquisar..."
              />
            </p-iconfield>
            <div>
              <p-button
                label="Exportar"
                icon="pi pi-upload"
                severity="secondary"
                (click)="exportAdjustments()"
              />
            </div>
          </div>
        </ng-template>

        <ng-template #headerTemplate>
          <tr>
            <th style="min-width: 5rem">ID</th>
            <th style="min-width: 12rem">TIPO</th>
            <th style="min-width: 12rem">DATA</th>
            <th style="min-width: 15rem">MOTIVO</th>
            <th style="min-width: 15rem">RESPONSÁVEL</th>
            <th style="min-width: 20rem">OBSERVAÇÃO</th>
            <th style="min-width: 15rem">AÇÕES</th>
          </tr>
        </ng-template>

        <ng-template #bodyTemplate let-adjustment>
          <tr>
            <td>{{ adjustment.id }}</td>
            <td>{{ adjustment.type }}</td>
            <td>
              {{ adjustment.adjustmentDate | date : "dd/MM/yyyy HH:mm:ss" }}
            </td>
            <td>{{ adjustment.reason }}</td>
            <td>{{ adjustment.responsibleName }}</td>
            <td>{{ adjustment.observation }}</td>
            <td>
              <p-button
                icon="pi pi-info-circle"
                class="mr-2"
                pTooltip="Detalhar"
                tooltipPosition="bottom"
                severity="info"
                [rounded]="true"
                [outlined]="true"
                (click)="openForm(adjustment)"
              />
            </td>
          </tr>
        </ng-template>
      </app-table>
    </ng-container>

    <app-dialog
      [(visible)]="displayDialog"
      [formMode]="formMode"
      [headerText]="headerText"
    >
      <form [formGroup]="adjustmentForm" class="mt-4">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
          <div class="mb-4">
            <label for="id" class="block text-sm font-medium text-gray-500"
              >ID:</label
            >
            <input
              id="id"
              pInputText
              type="text"
              formControlName="id"
              class="mt-1 p-2 border rounded-md w-full"
            />
          </div>

          <div class="mb-4">
            <label for="type" class="block text-sm font-medium text-gray-500"
              >Tipo:
            </label>
            <input
              id="type"
              pInputText
              type="text"
              formControlName="type"
              class="mt-1 p-2 border rounded-md w-full"
            />
          </div>

          <div class="mb-4">
            <label
              for="adjustmentDate"
              class="block text-sm font-medium text-gray-500"
              >Data:
            </label>
            <input
              id="adjustmentDate"
              pInputText
              type="text"
              formControlName="adjustmentDate"
              class="mt-1 p-2 border rounded-md w-full"
            />
          </div>

          <div class="mb-4">
            <label for="reason" class="block text-sm font-medium text-gray-500"
              >Motivo:
            </label>
            <input
              id="reason"
              pInputText
              type="text"
              formControlName="reason"
              class="mt-1 p-2 border rounded-md w-full"
            />
          </div>

          <div class="mb-4">
            <label
              for="responsibleName"
              class="block text-sm font-medium text-gray-500"
              >Responsável:
            </label>
            <input
              id="responsibleName"
              pInputText
              type="text"
              formControlName="responsibleName"
              class="mt-1 p-2 border rounded-md w-full"
            />
          </div>

          <div class="mb-4">
            <label
              for="observation"
              class="block text-sm font-medium text-gray-500"
              >Observação:
            </label>
            <textarea
              rows="5"
              pTextarea
              formControlName="observation"
              class="mt-1 p-2 border rounded-md w-full"
            ></textarea>
          </div>
        </div>
      </form>

      <div class="bg-zinc-900 border border-zinc-600 rounded-md p-8 mt-4">
        <h2 class="text-xl font-medium text-gray-500 mb-6">Itens</h2>
        <hr class="mt-6 mb-2 border-t border-zinc-600" />
        <p-table
          *ngIf="
            selectedAdjustments &&
            selectedAdjustments.adjustmentItems &&
            selectedAdjustments.adjustmentItems.length > 0
          "
          [value]="selectedAdjustments.adjustmentItems"
          [rows]="10"
          [paginator]="true"
          currentPageReportTemplate="Mostrando {first} a {last} dos {totalRecords} Itens"
          [showCurrentPageReport]="true"
          [style]="{ width: '100%' }"
        >
          <ng-template #header>
            <tr>
              <th style="min-width: 25rem">PRODUTO</th>
              <th style="min-width: 10rem">QUANTIDADE</th>
              <th style="min-width: 10rem">VALOR UNITÁRIO</th>
              <th style="min-width: 10rem">VALOR TOTAL</th>
              <th style="min-width: 12rem">LOTE</th>
              <th style="min-width: 10rem">VALIDADE</th>
            </tr>
          </ng-template>

          <ng-template #body let-item>
            <tr>
              <td>{{ item.productName }}</td>
              <td>{{ item.quantity }}</td>
              <td>{{ item.unitValue | currency : "BRL" }}</td>
              <td>{{ item.totalValue | currency : "BRL" }}</td>
              <td>{{ item.batch }}</td>
              <td>{{ item.expiryDate | date : "dd/MM/yyyy" }}</td>
            </tr>
          </ng-template>
        </p-table>
        <div
          *ngIf="
            !selectedAdjustments ||
            !selectedAdjustments.adjustmentItems ||
            selectedAdjustments.adjustmentItems.length === 0
          "
          class="text-center text-gray-400 py-4"
        >
          Nenhum item de recebimento encontrado.
        </div>
      </div>
    </app-dialog>
  </div>
</div>
