<app-breadcrumb [itemsBreadcrumb]="itemsBreadcrumb"></app-breadcrumb>

<app-toast></app-toast>
<app-spinner></app-spinner>
<app-confirm-dialog></app-confirm-dialog>

<div class="container mx-auto">
  <div class="card mt-10">
    <p-toolbar>
      <ng-template #start>
        <span class="text-xl font-bold mt-2 mb-2">{{ title }}</span>
      </ng-template>

      <ng-template #end></ng-template>
    </p-toolbar>

    <div class="bg-surface-900 rounded-md shadow-md p-6">
      <form [formGroup]="orderForm" class="mt-4">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
          <div class="bg-surface-800 p-6 rounded-md shadow-inner">
            <h2 class="text-xl font-semibold text-white mb-4">
              Detalhes do Pedido
            </h2>
            <div class="mb-4" *ngIf="formMode !== 'create'">
              <label for="id" class="block text-sm font-medium text-gray-500"
                >ID:</label
              >
              <input
                id="id"
                pInputText
                type="text"
                formControlName="id"
                class="mt-1 p-2 border rounded-md w-full"
              />
            </div>

            <div class="mb-4">
              <label
                for="createdByEmployeeId"
                class="block text-sm font-medium text-gray-500"
              >
                Responsável:
                <span class="text-red-500" *ngIf="formMode !== 'detail'"
                  >*</span
                >
              </label>
              <p-select
                [options]="employeeOptions"
                formControlName="createdByEmployeeId"
                optionLabel="label"
                optionValue="value"
                class="w-full mt-1"
                placeholder="Selecione"
                [showClear]="true"
                [filter]="true"
                filterBy="label"
                [ngClass]="{
                  'border-red-500':
                    formSubmitted &&
                    orderForm.get('createdByEmployeeId')?.invalid
                }"
              ></p-select>
            </div>

            <div class="mb-4" *ngIf="formMode !== 'create'">
              <label
                for="createdAt"
                class="block text-sm font-medium text-gray-500 mb-1"
                >Data:
                <span class="text-red-500" *ngIf="formMode !== 'detail'"
                  >*</span
                ></label
              >
              <p-datepicker
                id="createdAt"
                formControlName="createdAt"
                dateFormat="dd/mm/yy"
                [showButtonBar]="true"
                class="w-full mt-1"
                [ngClass]="{
                  'border-red-500':
                    formSubmitted && orderForm.get('createdAt')?.invalid
                }"
              />
            </div>

            <div class="mb-4">
              <label
                for="observation"
                class="block text-sm font-medium text-gray-500"
                >Observação:
              </label>
              <textarea
                rows="3"
                pTextarea
                formControlName="observation"
                class="mt-1 p-2 border rounded-md w-full"
              ></textarea>
            </div>
          </div>

          <div class="bg-surface-800 p-6 rounded-md shadow-inner">
            <div class="flex justify-between items-center mb-4">
              <h2 class="text-xl font-semibold text-white">
                Itens
                <span class="text-red-500" *ngIf="formMode !== 'detail'"
                  >*</span
                >
              </h2>
              <p-button
                label="Adicionar"
                icon="pi pi-plus"
                (click)="addOrderItem()"
                class="p-button-sm"
              ></p-button>
            </div>
            <div formArrayName="orderItems" class="space-y-6">
              <div
                *ngFor="let item of orderItems.controls; let i = index"
                [formGroupName]="i"
                class="grid grid-cols-1 md:grid-cols-10 gap-4 p-4 border rounded-md bg-surface-900"
                [ngClass]="{
                  'border-red-500': formSubmitted && item.invalid,
                  'border-surface-700': !item.invalid
                }"
              >
                <div class="md:col-span-6">
                  <label class="block text-sm font-medium text-gray-500"
                    >Produto</label
                  >
                  <p-select
                    [options]="productOptions"
                    formControlName="productId"
                    placeholder="Selecione"
                    class="w-full mt-1"
                    [showClear]="true"
                    [filter]="true"
                    filterBy="label"
                    [ngClass]="{
                      'border-red-500':
                        formSubmitted && item.get('productId')?.invalid
                    }"
                  ></p-select>
                </div>

                <div class="md:col-span-3">
                  <label class="block text-sm font-medium text-gray-500"
                    >Quantidade</label
                  >
                  <input
                    type="number"
                    pInputText
                    formControlName="requestedQuantity"
                    class="w-full mt-1"
                    [ngClass]="{
                      'border-red-500':
                        formSubmitted && item.get('requestedQuantity')?.invalid
                    }"
                  />
                </div>

                <div class="md:col-span-1 flex items-end">
                  <button
                    pButton
                    pTooltip="Excluir"
                    tooltipPosition="top"
                    icon="pi pi-trash"
                    (click)="removeOrderItem(i)"
                    severity="danger"
                    type="button"
                    [rounded]="true"
                    [outlined]="true"
                    [disabled]="orderItems.length <= 1"
                    class="mt-1 p-button-sm"
                  ></button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="flex justify-end pt-4 mt-4">
          <p-button
            label="Salvar"
            icon="pi pi-check"
            class="mr-2"
            (click)="saveOrder()"
          ></p-button>
          <p-button
            label="Limpar"
            icon="pi pi-eraser"
            severity="info"
            [outlined]="true"
            (click)="resetOrderForm()"
          ></p-button>
        </div>
      </form>
    </div>
  </div>
</div>
