<app-breadcrumb [itemsBreadcrumb]="itemsBreadcrumb()" />
<app-spinner [loading]="isLoading()" />

<app-confirm-dialog
  #confirmDialog
  acceptLabel="Confirmar"
  rejectLabel="Cancelar"
  acceptIcon="pi pi-check-circle"
  rejectIcon="pi pi-ban" />

<div class="p-6 max-w-7xl mx-auto space-y-6">
  <app-page-header [title]="title" [description]="description" />

  <app-account-table
    [value]="accounts()"
    [totalRecords]="totalRecords()"
    [rows]="rows()"
    [first]="first()"
    [loading]="isLoading()"
    (lazyLoad)="loadAccounts($event)"
    (searchChange)="onSearch($event)"
    (add)="openForm(FormMode.Create)"
    (edit)="openForm(FormMode.Update, $event)"
    (detail)="openForm(FormMode.Detail, $event)"
    (changeStatus)="changeStatusAccount($event)"
    (passwordReset)="openPasswordResetForm($event)"
    (pdfClick)="generatePdfReport()" />

  <app-account-drawer-form
    [(visible)]="displayDrawer"
    [formMode]="formMode"
    [accountData]="selectedAccount"
    (save)="saveAccount($event)" />

  <app-account-password-drawer-form
    [(visible)]="isPasswordOpen"
    [accountData]="selectedAccount"
    (savePassword)="saveNewPassword($event)" />
</div>
