<app-breadcrumb [itemsBreadcrumb]="itemsBreadcrumb"></app-breadcrumb>

<app-spinner [loading]="isLoading"></app-spinner>
<app-confirm-dialog></app-confirm-dialog>

<div class="container mx-auto">
  <div class="card mt-10">
    <app-table-header [title]="title"></app-table-header>

    <ng-container *ngIf="employees$ | async as employees">
      <app-table
        [value]="employees"
        [rows]="5"
        [rowsPerPageOptions]="[5, 10, 25]"
        [lazy]="true"
        (onLazyLoad)="loadEmployees($event)"
        [totalRecords]="totalRecords"
        [loading]="isLoading"
        [colspan]="7"
      >
        <ng-template #captionTemplate let-dt>
          <div class="flex items-center justify-between">
            <p-iconfield>
              <p-inputicon styleClass="pi pi-search" />
              <input
                pInputText
                type="text"
                (input)="onSearchInput($any($event.target).value)"
                placeholder="Pesquisar..."
              />
            </p-iconfield>
            <div>
              <p-button
                *appHasRole="['Master', 'Admin']"
                label="Novo"
                icon="pi pi-plus"
                class="mr-2"
                (click)="openForm(FormMode.Create)"
              />
              <p-button
                label="Exportar"
                icon="pi pi-upload"
                severity="secondary"
                (click)="exportEmployees()"
              />
            </div>
          </div>
        </ng-template>

        <ng-template #headerTemplate>
          <tr>
            <th style="min-width: 5rem">ID</th>
            <th style="min-width: 20rem">NOME</th>
            <th style="min-width: 12rem">CPF</th>
            <th style="min-width: 20rem">FUNÇÃO</th>
            <th style="min-width: 12rem">TELEFONE</th>
            <th style="min-width: 8rem">STATUS</th>
            <th style="min-width: 15rem">AÇÕES</th>
          </tr>
        </ng-template>

        <ng-template #bodyTemplate let-employee>
          <tr>
            <td>{{ employee.id }}</td>
            <td>{{ employee.name }}</td>
            <td>{{ employee.cpf }}</td>
            <td>{{ employee.function }}</td>
            <td>{{ employee.phone }}</td>
            <td>
              <p-tag
                [value]="getStatus(employee.isActive)"
                [severity]="getSeverity(employee.isActive)"
              />
            </td>
            <td>
              <p-button
                *appHasRole="['Master', 'Admin']"
                icon="pi pi-pencil"
                class="mr-2"
                pTooltip="Editar"
                tooltipPosition="bottom"
                [rounded]="true"
                [outlined]="true"
                (click)="openForm(FormMode.Update, employee)"
              />
              <p-button
                icon="pi pi-info-circle"
                class="mr-2"
                pTooltip="Detalhar"
                tooltipPosition="bottom"
                severity="info"
                [rounded]="true"
                [outlined]="true"
                (click)="openForm(FormMode.Detail, employee)"
              />
              <p-button
                *appHasRole="['Master', 'Admin']"
                icon="pi pi-trash"
                severity="danger"
                [pTooltip]="employee.isActive ? 'Desativar' : 'Ativar'"
                tooltipPosition="bottom"
                [rounded]="true"
                [outlined]="true"
                (click)="changeStatusEmployee(employee.id, employee)"
              />
            </td>
          </tr>
        </ng-template>
      </app-table>
    </ng-container>

    <app-dialog
      [(visible)]="displayDialog"
      [formMode]="formMode"
      [headerText]="headerText"
      (onSave)="saveEmployee()"
    >
      <form [formGroup]="employeeForm" class="mt-4">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
          <div class="mb-4" *ngIf="formMode !== 'create'">
            <label for="id" class="block text-sm font-medium text-gray-500"
              >ID:</label
            >
            <input
              id="id"
              pInputText
              type="text"
              formControlName="id"
              class="mt-1 p-2 border rounded-md w-full"
            />
          </div>

          <div class="mb-4">
            <label for="name" class="block text-sm font-medium text-gray-500"
              >Nome:
              <span class="text-red-500" *ngIf="formMode !== 'detail'"
                >*</span
              ></label
            >
            <input
              id="name"
              pInputText
              type="text"
              formControlName="name"
              maxlength="100"
              class="mt-1 p-2 border rounded-md w-full"
              [ngClass]="{
                'border-red-500': employeeForm.get('name')?.invalid
              }"
              [ngClass]="{
                'border-red-500':
                  formSubmitted && employeeForm.get('name')?.invalid
              }"
            />
          </div>

          <div class="mb-4">
            <label for="cpf" class="block text-sm font-medium text-gray-500"
              >CPF:
              <span class="text-red-500" *ngIf="formMode !== 'detail'"
                >*</span
              ></label
            >
            <p-inputmask
              id="cpf"
              mask="999.999.999-99"
              styleClass="w-full mt-1"
              formControlName="cpf"
              maxlength="14"
              (onBlur)="validateCpf()"
              [ngClass]="{
                'ng-invalid ng-dirty':
                  employeeForm.get('phone')?.invalid &&
                  (formSubmitted || employeeForm.get('cpf')?.touched)
              }"
            />
          </div>

          <div class="mb-4">
            <label
              for="function"
              class="block text-sm font-medium text-gray-500"
              >Função:
              <span class="text-red-500" *ngIf="formMode !== 'detail'"
                >*</span
              ></label
            >
            <input
              id="function"
              pInputText
              type="text"
              formControlName="function"
              maxlength="100"
              class="mt-1 p-2 border rounded-md w-full"
              [ngClass]="{
                'border-red-500':
                  formSubmitted && employeeForm.get('function')?.invalid
              }"
            />
          </div>

          <div class="mb-4">
            <label for="phone" class="block text-sm font-medium text-gray-500"
              >Telefone:
              <span class="text-red-500" *ngIf="formMode !== 'detail'"
                >*</span
              ></label
            >
            <p-inputmask
              id="phone"
              mask="(99) 99999-9999"
              styleClass="w-full mt-1"
              formControlName="phone"
              maxlength="20"
              [ngClass]="{
                'ng-invalid ng-dirty':
                  employeeForm.get('phone')?.invalid &&
                  (formSubmitted || employeeForm.get('phone')?.touched)
              }"
            />
          </div>

          <div class="mb-4" *ngIf="formMode !== 'create'">
            <label class="block text-sm font-medium text-gray-500"
              >Status:</label
            >
            <p-select
              [options]="statusOptions"
              formControlName="isActive"
              optionLabel="label"
              optionValue="value"
              class="w-full mt-1"
              placeholder="Selecione"
            ></p-select>
          </div>
        </div>
      </form>
    </app-dialog>
  </div>
</div>
