<app-breadcrumb [itemsBreadcrumb]="itemsBreadcrumb"></app-breadcrumb>
<app-spinner [loading]="isLoading"></app-spinner>

<app-confirm-dialog
  #confirmDialog
  acceptLabel="Confirmar"
  rejectLabel="Cancelar"
  acceptIcon="pi pi-check-circle"
  rejectIcon="pi pi-ban"
></app-confirm-dialog>

<div class="p-6 max-w-7xl mx-auto space-y-6">
  <app-page-header [title]="title" [description]="description">
  </app-page-header>

  <app-account-table
    [value]="accounts()"
    [totalRecords]="totalRecords"
    [rows]="rows"
    [first]="first"
    [loading]="isLoading"
    (onLazyLoad)="loadAccounts($event)"
    (onSearch)="onSearch($event)"
    (onAdd)="openForm(FormMode.Create)"
    (onEdit)="openForm(FormMode.Update, $event)"
    (onDetail)="openForm(FormMode.Detail, $event)"
    (onChangeStatus)="changeStatusAccount($event)"
    (onPasswordReset)="openPasswordResetForm($event)"
  ></app-account-table>

  <app-account-drawer-form
    [(visible)]="displayDrawer"
    [formMode]="formMode"
    [accountData]="selectedAccount"
    (onSave)="saveAccount($event)"
  ></app-account-drawer-form>

  <app-account-password-drawer-form
    [(visible)]="isPasswordOpen"
    [accountData]="selectedAccount"
    (onSavePassword)="saveNewPassword($event)"
  ></app-account-password-drawer-form>
</div>
