<div
  class="w-full bg-white dark:bg-zinc-950 border border-zinc-200/80 dark:border-zinc-800 rounded-xl shadow-sm overflow-hidden transition-all duration-200"
>
  <p-table
    #dt
    [value]="value()"
    [rows]="rows()"
    [first]="first()"
    [rowsPerPageOptions]="rowsPerPageOptions()"
    [paginator]="paginator()"
    [lazy]="lazy()"
    (onLazyLoad)="onLazyLoad.emit($event)"
    [totalRecords]="totalRecords()"
    [globalFilterFields]="globalFilterFields()"
    [dataKey]="dataKey()"
    [rowHover]="true"
    [loading]="loading()"
    currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
    [showCurrentPageReport]="true"
    styleClass="p-datatable-sm shadow-none"
  >
    @if (captionTemplate()) {
      <ng-template pTemplate="caption">
        <div
          class="px-4 py-3 bg-zinc-50/50 dark:bg-zinc-900/20 border-b border-zinc-200/80 dark:border-zinc-800"
        >
          <ng-container
            [ngTemplateOutlet]="captionTemplate()!"
            [ngTemplateOutletContext]="{ $implicit: dt, loading: loading() }"
          >
          </ng-container>
        </div>
      </ng-template>
    }

    @if (headerTemplate()) {
      <ng-template pTemplate="header">
        <ng-container [ngTemplateOutlet]="headerTemplate()!"></ng-container>
      </ng-template>
    }

    @if (bodyTemplate()) {
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <ng-container
          [ngTemplateOutlet]="bodyTemplate()!"
          [ngTemplateOutletContext]="{ $implicit: rowData, columns: columns }"
        >
        </ng-container>
      </ng-template>
    }

    @if (footerTemplate()) {
      <ng-template pTemplate="footer">
        <ng-container [ngTemplateOutlet]="footerTemplate()!"></ng-container>
      </ng-template>
    }

    <ng-template pTemplate="emptymessage">
      @if (emptyMessageTemplate()) {
        <ng-container
          [ngTemplateOutlet]="emptyMessageTemplate()!"
        ></ng-container>
      } @else {
        <tr>
          <td [attr.colspan]="colspan()">
            <div
              class="flex flex-col items-center justify-center py-16 px-4 gap-3 text-zinc-400 dark:text-zinc-500"
            >
              <div
                class="p-4 bg-zinc-100 dark:bg-zinc-900 rounded-full border border-zinc-200/60 dark:border-zinc-800/80"
              >
                <i
                  class="pi pi-box text-3xl text-zinc-400/80 dark:text-zinc-500/80"
                ></i>
              </div>
              <div class="text-center max-w-xs space-y-1">
                <p
                  class="text-sm font-semibold text-zinc-700 dark:text-zinc-300"
                >
                  {{ emptyMessage() }}
                </p>
              </div>
            </div>
          </td>
        </tr>
      }
    </ng-template>
  </p-table>
</div>
