<app-breadcrumb [itemsBreadcrumb]="itemsBreadcrumb"></app-breadcrumb>

<div class="container mx-auto">
  <div class="mt-10">
    <p-toolbar>
      <ng-template #start>
        <span class="text-xl font-bold mt-2 mb-2">Cadastro de Cliente</span>
      </ng-template>

      <ng-template #end></ng-template>
    </p-toolbar>
  </div>

  <p-card>
    <form [formGroup]="formGroup">
      <div class="grid grid-cols-3 gap-8">
        <div class="flex-auto">
          <label for="id" class="font-bold block mb-2">Id:</label>
          <input
            type="text"
            id="id"
            pInputText
            class="w-full"
            formControlName="id"
          />
        </div>

        <div class="flex-auto">
          <label for="description" class="font-bold block mb-2">Nome:</label>
          <input
            type="text"
            id="description"
            pInputText
            class="w-full"
            formControlName="description"
          />
        </div>

        <div class="flex-auto">
          <label for="cep" class="font-bold block mb-2">CEP:</label>
          <input
            type="text"
            id="cep"
            pInputText
            class="w-full"
            formControlName="cep"
          />
        </div>
      </div>

      <div class="grid grid-cols-3 gap-8 mt-6">
        <div class="flex-auto">
          <label for="address" class="font-bold block mb-2">Endereço:</label>
          <input
            type="text"
            id="address"
            pInputText
            class="w-full"
            formControlName="address"
          />
        </div>

        <div class="flex-auto">
          <label for="number" class="font-bold block mb-2">Número:</label>
          <input
            type="text"
            id="number"
            pInputText
            class="w-full"
            formControlName="number"
          />
        </div>

        <div class="flex-auto">
          <label for="neighborhood" class="font-bold block mb-2">Bairro:</label>
          <input
            type="text"
            id="neighborhood"
            pInputText
            class="w-full"
            formControlName="neighborhood"
          />
        </div>
      </div>

      <div class="grid grid-cols-3 gap-8 mt-6">
        <div class="flex-auto">
          <label for="city" class="font-bold block mb-2">Cidade:</label>
          <input
            type="text"
            id="city"
            pInputText
            class="w-full"
            formControlName="city"
          />
        </div>

        <div class="flex-auto">
          <label for="email" class="font-bold block mb-2">E-mail:</label>
          <input
            type="text"
            id="email"
            pInputText
            class="w-full"
            formControlName="email"
          />
        </div>

        <div class="flex-auto">
          <label for="phone" class="font-bold block mb-2">Telefone:</label>
          <input
            type="text"
            id="phone"
            pInputText
            class="w-full"
            formControlName="phone"
          />
        </div>
      </div>

      <div class="grid grid-cols-3 gap-8 mt-6">
        <div class="flex-auto">
          <label for="isActive" class="font-bold block mb-2">Status:</label>
          <p-select
            id="isActive"
            [options]="isActive"
            optionLabel="description"
            placeholder="Selecione"
            class="w-full"
            formControlName="isActive"
          />
        </div>
      </div>
    </form>
    <ng-template #footer>
      <div class="flex flex-row-reverse gap-4 mt-6">
        <p-button
          label="Deletar"
          severity="danger"
          icon="pi pi-trash"
          [outlined]="true"
        />
        <p-button
          label="Salvar"
          severity="primary"
          icon="pi pi-check"
          [outlined]="false"
        />
      </div>
    </ng-template>
  </p-card>
</div>
