<app-breadcrumb [itemsBreadcrumb]="itemsBreadcrumb()" />
<app-spinner [loading]="isLoading()" />

<app-confirm-dialog
  #confirmDialog
  acceptLabel="Confirmar"
  rejectLabel="Cancelar"
  acceptIcon="pi pi-check-circle"
  rejectIcon="pi pi-ban" />

<div class="p-6 max-w-7xl mx-auto space-y-6">
  <app-page-header [title]="title" [description]="description" />

  <app-employee-table
    [value]="employees()"
    [totalRecords]="totalRecords()"
    [rows]="rows()"
    [first]="first()"
    [loading]="isLoading()"
    (lazyLoad)="loadEmployees($event)"
    (searchChange)="onSearch($event)"
    (onAdd)="openForm(FormMode.Create)"
    (edit)="openForm(FormMode.Update, $event)"
    (detail)="openForm(FormMode.Detail, $event)"
    (changeStatus)="changeStatusEmployee($event)"
    (pdfClick)="generatePdfReport()" />

  <app-employee-drawer-form
    [(visible)]="displayDrawer"
    [formMode]="formMode"
    [employeeData]="selectedEmployee"
    (save)="saveEmployee($event)" />
</div>
