<app-breadcrumb [itemsBreadcrumb]="itemsBreadcrumb"></app-breadcrumb>

<app-toast></app-toast>
<app-spinner [loading]="isLoading"></app-spinner>
<app-confirm-dialog></app-confirm-dialog>

<div class="container mx-auto">
  <div class="card mt-10">
    <p-toolbar>
      <ng-template #start>
        <span class="text-xl font-bold mt-2 mb-2">{{ title }}</span>
      </ng-template>

      <ng-template #end>
        <div>
          <p-button
            label="Add Fornecedor"
            icon="pi pi-plus"
            severity="secondary"
            (click)="openForm(FormMode.Create)"
          ></p-button>
        </div>
      </ng-template>
    </p-toolbar>

    <div class="bg-surface-900 rounded-md shadow-md p-6">
      <form [formGroup]="receivingForm" class="mt-4">
        <div class="bg-surface-800 p-6 rounded-md shadow-inner">
          <h2 class="text-xl font-semibold text-white mb-4">
            Detalhes da Entrada
          </h2>
          <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
            <div class="mb-4" *ngIf="formMode !== 'create'">
              <label for="id" class="block text-sm font-medium text-gray-500"
                >ID:</label
              >
              <input
                id="id"
                pInputText
                type="text"
                formControlName="id"
                class="mt-1 p-2 border rounded-md w-full"
              />
            </div>

            <div class="mb-4">
              <label
                for="invoiceNumber"
                class="block text-sm font-medium text-gray-500"
                >Nota Fiscal:
                <span class="text-red-500" *ngIf="formMode !== 'detail'"
                  >*</span
                ></label
              >
              <input
                id="invoiceNumber"
                pInputText
                type="text"
                formControlName="invoiceNumber"
                maxlength="50"
                class="mt-1 p-2 border rounded-md w-full"
                [ngClass]="{
                  'border-red-500':
                    receivingFormSubmitted &&
                    receivingForm.get('invoiceNumber')?.invalid
                }"
              />
            </div>

            <div class="mb-4">
              <label
                for="supplyAuthorization"
                class="block text-sm font-medium text-gray-500"
                >Autorização de Fornecimento:
                <span class="text-red-500" *ngIf="formMode !== 'detail'"
                  >*</span
                ></label
              >
              <input
                id="supplyAuthorization"
                pInputText
                type="text"
                formControlName="supplyAuthorization"
                maxlength="50"
                class="mt-1 p-2 border rounded-md w-full"
                [ngClass]="{
                  'border-red-500':
                    receivingFormSubmitted &&
                    receivingForm.get('supplyAuthorization')?.invalid
                }"
              />
            </div>

            <div class="mb-4">
              <label
                for="totalValue"
                class="block text-sm font-medium text-gray-500"
                >Valor da Nota:
                <span class="text-red-500" *ngIf="formMode !== 'detail'"
                  >*</span
                ></label
              >
              <input
                id="totalValue"
                pInputText
                type="number"
                formControlName="totalValue"
                class="mt-1 p-2 border rounded-md w-full"
                [ngClass]="{
                  'border-red-500':
                    receivingFormSubmitted &&
                    receivingForm.get('totalValue')?.invalid
                }"
              />
            </div>

            <div class="mb-4">
              <label
                for="supplierId"
                class="block text-sm font-medium text-gray-500"
              >
                Fornecedor:
                <span class="text-red-500" *ngIf="formMode !== 'detail'"
                  >*</span
                >
              </label>
              <p-select
                [options]="supplierOptions"
                formControlName="supplierId"
                optionLabel="label"
                optionValue="value"
                class="w-full mt-1"
                placeholder="Selecione"
                [showClear]="true"
                [filter]="true"
                filterBy="label"
                [ngClass]="{
                  'ng-invalid ng-dirty':
                    receivingForm.get('supplierId')?.invalid &&
                    (receivingFormSubmitted ||
                      receivingForm.get('supplierId')?.touched)
                }"
              ></p-select>
            </div>

            <div class="mb-4">
              <label
                for="responsibleId"
                class="block text-sm font-medium text-gray-500"
              >
                Responsável:
                <span class="text-red-500" *ngIf="formMode !== 'detail'"
                  >*</span
                >
              </label>
              <p-select
                [options]="employeeOptions"
                formControlName="responsibleId"
                optionLabel="label"
                optionValue="value"
                class="w-full mt-1"
                placeholder="Selecione"
                [showClear]="true"
                [filter]="true"
                filterBy="label"
                [ngClass]="{
                  'ng-invalid ng-dirty':
                    receivingForm.get('responsibleId')?.invalid &&
                    (receivingFormSubmitted ||
                      receivingForm.get('responsibleId')?.touched)
                }"
              ></p-select>
            </div>

            <div class="mb-4" *ngIf="formMode !== FormMode.Create">
              <label
                for="receivingDate"
                class="block text-sm font-medium text-gray-500 mb-1"
                >Data:
                <span class="text-red-500" *ngIf="formMode !== 'detail'"
                  >*</span
                ></label
              >
              <p-datepicker
                id="receivingDate"
                formControlName="receivingDate"
                dateFormat="dd/mm/yy"
                [showButtonBar]="true"
                class="w-full mt-1"
                [ngClass]="{
                  'ng-invalid ng-dirty':
                    receivingForm.get('receivingDate')?.invalid &&
                    (receivingFormSubmitted ||
                      receivingForm.get('receivingDate')?.touched)
                }"
              ></p-datepicker>
            </div>

            <div class="mb-4">
              <label
                for="observation"
                class="block text-sm font-medium text-gray-500"
                >Observação:
              </label>
              <textarea
                rows="3"
                pInputTextarea
                formControlName="observation"
                maxlength="200"
                class="mt-1 p-2 border rounded-md w-full"
              ></textarea>
            </div>
          </div>
        </div>

        <div class="bg-surface-800 p-6 rounded-md shadow-inner mt-6">
          <div class="flex justify-between items-center mb-4">
            <h2 class="text-xl font-semibold text-white">
              Itens
              <span class="text-red-500" *ngIf="formMode !== 'detail'">*</span>
            </h2>
            <p-button
              label="Adicionar"
              icon="pi pi-plus"
              (click)="addReceivedItem()"
              class="p-button-sm"
            ></p-button>
          </div>

          <div class="border border-surface-700 rounded-lg overflow-hidden">
            <p-table
              [value]="receivedItems.controls"
              formArrayName="receivedItems"
              [responsive]="true"
              [responsiveLayout]="'scroll'"
              [scrollable]="true"
              scrollHeight="flex"
              dataKey="id"
              styleClass="p-datatable-gridlines p-datatable-sm"
            >
              <ng-template pTemplate="header">
                <tr>
                  <th [style]="{ width: '25%' }">Produto</th>
                  <th [style]="{ width: '10%' }">Quantidade</th>
                  <th [style]="{ width: '15%' }">Valor Unitário</th>
                  <th [style]="{ width: '15%' }">Valor Total</th>
                  <th [style]="{ width: '15%' }">Lote</th>
                  <th [style]="{ width: '15%' }">Validade</th>
                  <th [style]="{ width: '5%', 'text-align': 'center' }">
                    Ações
                  </th>
                </tr>
              </ng-template>

              <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
                <tr
                  [formGroup]="item"
                  [ngClass]="{
                    'border-red-500': receivingFormSubmitted && item.invalid
                  }"
                >
                  <td>
                    <p-select
                      [options]="productOptions"
                      formControlName="productId"
                      placeholder="Selecione"
                      class="w-full"
                      [showClear]="true"
                      [filter]="true"
                      filterBy="label"
                      appendTo="body"
                      [ngClass]="{
                        'ng-invalid ng-dirty':
                          item.get('productId')?.invalid &&
                          (receivingFormSubmitted ||
                            item.get('productId')?.touched)
                      }"
                    ></p-select>
                  </td>
                  <td>
                    <p-inputNumber
                      formControlName="quantity"
                      mode="decimal"
                      [minFractionDigits]="0"
                      [maxFractionDigits]="2"
                      locale="pt-BR"
                      class="w-full"
                      [ngClass]="{
                        'ng-invalid ng-dirty':
                          item.get('quantity')?.invalid &&
                          (receivingFormSubmitted ||
                            item.get('quantity')?.touched)
                      }"
                    ></p-inputNumber>
                  </td>
                  <td>
                    <p-inputNumber
                      formControlName="unitValue"
                      mode="decimal"
                      [minFractionDigits]="2"
                      [maxFractionDigits]="2"
                      locale="pt-BR"
                      class="w-full"
                      [ngClass]="{
                        'ng-invalid ng-dirty':
                          item.get('unitValue')?.invalid &&
                          (receivingFormSubmitted ||
                            item.get('unitValue')?.touched)
                      }"
                    ></p-inputNumber>
                  </td>
                  <td>
                    <p-inputNumber
                      formControlName="totalValue"
                      mode="decimal"
                      [minFractionDigits]="2"
                      [maxFractionDigits]="2"
                      locale="pt-BR"
                      class="w-full"
                      [readonly]="true"
                      [ngClass]="{
                        'ng-invalid ng-dirty':
                          item.get('totalValue')?.invalid &&
                          (receivingFormSubmitted ||
                            item.get('totalValue')?.touched)
                      }"
                    ></p-inputNumber>
                  </td>
                  <td>
                    <input
                      type="text"
                      pInputText
                      formControlName="batch"
                      maxlength="50"
                      class="w-full"
                      [ngClass]="{
                        'border-red-500':
                          receivingFormSubmitted && item.get('batch')?.invalid
                      }"
                    />
                  </td>
                  <td>
                    <p-datepicker
                      formControlName="expiryDate"
                      dateFormat="dd/mm/yy"
                      [showButtonBar]="true"
                      class="w-full"
                      appendTo="body"
                      [ngClass]="{
                        'ng-invalid ng-dirty':
                          item.get('expiryDate')?.invalid &&
                          (receivingFormSubmitted ||
                            item.get('expiryDate')?.touched)
                      }"
                    ></p-datepicker>
                  </td>
                  <td style="text-align: center">
                    <button
                      pButton
                      pTooltip="Excluir"
                      tooltipPosition="top"
                      icon="pi pi-trash"
                      (click)="removeReceivedItem(rowIndex)"
                      severity="danger"
                      type="button"
                      [rounded]="true"
                      [outlined]="true"
                      [disabled]="receivedItems.length <= 1"
                      class="p-button-sm"
                    ></button>
                  </td>
                </tr>
              </ng-template>

              <ng-template pTemplate="emptymessage">
                <tr>
                  <td [attr.colspan]="7" class="text-center text-gray-500 p-4">
                    Nenhum item adicionado.
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>

        <div class="flex justify-end pt-4 mt-4">
          <p-button
            label="Salvar"
            icon="pi pi-check"
            class="mr-2"
            (click)="saveReceiving()"
          ></p-button>
          <p-button
            label="Limpar"
            icon="pi pi-eraser"
            severity="info"
            [outlined]="true"
            (click)="resetReceivingForm()"
          ></p-button>
        </div>
      </form>
    </div>

    <app-dialog
      [(visible)]="displayDialog"
      [formMode]="formMode"
      [headerText]="
        formMode === 'create'
          ? 'Novo Fornecedor'
          : formMode === 'update'
          ? 'Editar Fornecedor'
          : 'Detalhes do Fornecedor'
      "
      (onSave)="saveSupplier()"
      (onCancel)="hideDialog()"
    >
      <form [formGroup]="supplierForm" class="mt-4">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
          <div class="mb-4">
            <label for="name" class="block text-sm font-medium text-gray-500"
              >Nome:
              <span class="text-red-500" *ngIf="formMode !== 'detail'"
                >*</span
              ></label
            >
            <input
              id="name"
              pInputText
              type="text"
              formControlName="name"
              maxlength="150"
              class="mt-1 p-2 border rounded-md w-full"
              [ngClass]="{
                'border-red-500':
                  supplierFormSubmitted && supplierForm.get('name')?.invalid
              }"
            />
          </div>

          <div class="mb-4">
            <label for="cnpj" class="block text-sm font-medium text-gray-500"
              >CNPJ:
              <span class="text-red-500" *ngIf="formMode !== 'detail'"
                >*</span
              ></label
            >
            <p-inputmask
              id="cnpj"
              mask="99.999.999/9999-99"
              styleClass="w-full"
              formControlName="cnpj"
              maxlength="18"
              (onBlur)="validateCnpj()"
              [ngClass]="{
                'ng-invalid ng-dirty':
                  supplierForm.get('cnpj')?.invalid &&
                  (supplierFormSubmitted || supplierForm.get('cnpj')?.touched)
              }"
            />
          </div>

          <div class="mb-4">
            <label for="address" class="block text-sm font-medium text-gray-500"
              >Endereço:
              <span class="text-red-500" *ngIf="formMode !== 'detail'"
                >*</span
              ></label
            >
            <input
              id="address"
              pInputText
              type="text"
              formControlName="address"
              maxlength="200"
              class="mt-1 p-2 border rounded-md w-full"
              [ngClass]="{
                'border-red-500':
                  supplierFormSubmitted && supplierForm.get('address')?.invalid
              }"
            />
          </div>

          <div class="mb-4">
            <label for="number" class="block text-sm font-medium text-gray-500"
              >Número:
              <span class="text-red-500" *ngIf="formMode !== 'detail'"
                >*</span
              ></label
            >
            <input
              id="number"
              pInputText
              type="text"
              formControlName="number"
              maxlength="20"
              class="mt-1 p-2 border rounded-md w-full"
              [ngClass]="{
                'border-red-500':
                  supplierFormSubmitted && supplierForm.get('number')?.invalid
              }"
            />
          </div>

          <div class="mb-4">
            <label
              for="neighborhood"
              class="block text-sm font-medium text-gray-500"
              >Bairro:
              <span class="text-red-500" *ngIf="formMode !== 'detail'"
                >*</span
              ></label
            >
            <input
              id="neighborhood"
              pInputText
              type="text"
              formControlName="neighborhood"
              maxlength="100"
              class="mt-1 p-2 border rounded-md w-full"
              [ngClass]="{
                'border-red-500':
                  supplierFormSubmitted &&
                  supplierForm.get('neighborhood')?.invalid
              }"
            />
          </div>

          <div class="mb-4">
            <label for="city" class="block text-sm font-medium text-gray-500"
              >Cidade:
              <span class="text-red-500" *ngIf="formMode !== 'detail'"
                >*</span
              ></label
            >
            <input
              id="city"
              pInputText
              type="text"
              formControlName="city"
              maxlength="100"
              class="mt-1 p-2 border rounded-md w-full"
              [ngClass]="{
                'border-red-500':
                  supplierFormSubmitted && supplierForm.get('city')?.invalid
              }"
            />
          </div>

          <div class="mb-4">
            <label for="state" class="block text-sm font-medium text-gray-500"
              >Estado:
              <span class="text-red-500" *ngIf="formMode !== 'detail'"
                >*</span
              ></label
            >
            <input
              id="state"
              pInputText
              type="text"
              formControlName="state"
              maxlength="2"
              class="mt-1 p-2 border rounded-md w-full"
              [ngClass]="{
                'border-red-500':
                  supplierFormSubmitted && supplierForm.get('state')?.invalid
              }"
            />
          </div>

          <div class="mb-4">
            <label for="cep" class="block text-sm font-medium text-gray-500"
              >CEP:
              <span class="text-red-500" *ngIf="formMode !== 'detail'"
                >*</span
              ></label
            >
            <p-inputmask
              id="cep"
              mask="99999-999"
              styleClass="w-full mt-1"
              formControlName="cep"
              maxlength="10"
              [ngClass]="{
                'ng-invalid ng-dirty':
                  supplierForm.get('cep')?.invalid &&
                  (supplierFormSubmitted || supplierForm.get('cep')?.touched)
              }"
            />
          </div>

          <div class="mb-4">
            <label for="email" class="block text-sm font-medium text-gray-500"
              >E-mail:
              <span class="text-red-500" *ngIf="formMode !== 'detail'"
                >*</span
              ></label
            >
            <input
              id="email"
              pInputText
              type="text"
              formControlName="email"
              maxlength="100"
              class="mt-1 p-2 border rounded-md w-full"
              [ngClass]="{
                'border-red-500':
                  supplierFormSubmitted && supplierForm.get('email')?.invalid
              }"
            />
          </div>

          <div class="mb-4">
            <label for="phone" class="block text-sm font-medium text-gray-500"
              >Telefone:
              <span class="text-red-500" *ngIf="formMode !== 'detail'"
                >*</span
              ></label
            >
            <p-inputmask
              id="phone"
              mask="(99) 9999-9999"
              styleClass="w-full"
              formControlName="phone"
              maxlength="20"
              [ngClass]="{
                'ng-invalid ng-dirty':
                  supplierForm.get('phone')?.invalid &&
                  (supplierFormSubmitted || supplierForm.get('phone')?.touched)
              }"
            />
          </div>

          <div class="mb-4" *ngIf="formMode !== 'create'">
            <label class="block text-sm font-medium text-gray-500"
              >Status:</label
            >
            <p-select
              [options]="statusOptions"
              formControlName="isActive"
              optionLabel="label"
              optionValue="value"
              class="w-full mt-1"
              placeholder="Selecione"
              [ngClass]="{
                'ng-invalid ng-dirty':
                  supplierFormSubmitted && supplierForm.get('isActive')?.invalid
              }"
            ></p-select>
          </div>
        </div>
      </form>
    </app-dialog>
  </div>
</div>
