<app-breadcrumb [itemsBreadcrumb]="itemsBreadcrumb"></app-breadcrumb>

<app-toast></app-toast>
<app-spinner></app-spinner>
<app-confirm-dialog></app-confirm-dialog>

<div class="container mx-auto">
  <div class="card mt-10">
    <p-toolbar>
      <ng-template #start>
        <span class="text-xl font-bold mt-2 mb-2">Nova Entrada</span>
      </ng-template>

      <ng-template #end>
        <div>
          <p-button
            label="Add Fornecedor"
            icon="pi pi-plus"
            severity="secondary"
            (click)="openForm(FormMode.Create)"
          /></div
      ></ng-template>
    </p-toolbar>

    <div class="bg-surface-900 rounded-md shadow-md p-6">
      <form [formGroup]="receivingForm" class="mt-4">
        <section>
          <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
            <div class="mb-4" *ngIf="formMode !== 'create'">
              <label for="id" class="block text-sm font-medium text-gray-500"
                >ID:</label
              >
              <input
                id="id"
                pInputText
                type="text"
                formControlName="id"
                class="mt-1 p-2 border rounded-md w-full"
              />
            </div>

            <div class="mb-4">
              <label
                for="invoiceNumber"
                class="block text-sm font-medium text-gray-500"
                >Nota Fiscal:
                <span class="text-red-500" *ngIf="formMode !== 'detail'"
                  >*</span
                ></label
              >
              <input
                id="invoiceNumber"
                pInputText
                type="text"
                formControlName="invoiceNumber"
                class="mt-1 p-2 border rounded-md w-full"
                [ngClass]="{
                  'border-red-500':
                    formSubmitted && receivingForm.get('invoiceNumber')?.invalid
                }"
              />
            </div>

            <div class="mb-4">
              <label
                for="supplyAuthorization"
                class="block text-sm font-medium text-gray-500"
                >Autorização de Fornecimento:
                <span class="text-red-500" *ngIf="formMode !== 'detail'"
                  >*</span
                ></label
              >
              <input
                id="supplyAuthorization"
                pInputText
                type="text"
                formControlName="supplyAuthorization"
                class="mt-1 p-2 border rounded-md w-full"
                [ngClass]="{
                  'border-red-500':
                    formSubmitted &&
                    receivingForm.get('supplyAuthorization')?.invalid
                }"
              />
            </div>

            <div class="mb-4">
              <label
                for="totalValue"
                class="block text-sm font-medium text-gray-500"
                >Valor da Nota:
                <span class="text-red-500" *ngIf="formMode !== 'detail'"
                  >*</span
                ></label
              >
              <input
                id="totalValue"
                pInputText
                type="number"
                formControlName="totalValue"
                class="mt-1 p-2 border rounded-md w-full"
                [ngClass]="{
                  'border-red-500':
                    formSubmitted && receivingForm.get('totalValue')?.invalid
                }"
              />
            </div>

            <div class="mb-4">
              <label
                for="supplierId"
                class="block text-sm font-medium text-gray-500"
              >
                Fornecedor:
                <span class="text-red-500" *ngIf="formMode !== 'detail'"
                  >*</span
                >
              </label>
              <p-select
                [options]="supplierOptions"
                formControlName="supplierId"
                optionLabel="label"
                optionValue="value"
                class="w-full mt-1"
                placeholder="Selecione"
                [ngClass]="{
                  'border-red-500':
                    formSubmitted && receivingForm.get('supplierId')?.invalid
                }"
              ></p-select>
            </div>

            <div class="mb-4">
              <label
                for="responsibleId"
                class="block text-sm font-medium text-gray-500"
              >
                Responsável:
                <span class="text-red-500" *ngIf="formMode !== 'detail'"
                  >*</span
                >
              </label>
              <p-select
                [options]="employeeOptions"
                formControlName="responsibleId"
                optionLabel="label"
                optionValue="value"
                class="w-full mt-1"
                placeholder="Selecione"
                [ngClass]="{
                  'border-red-500':
                    formSubmitted && receivingForm.get('responsibleId')?.invalid
                }"
              ></p-select>
            </div>

            <div class="mb-4">
              <label
                for="receivingDate"
                class="block text-sm font-medium text-gray-500 mb-1"
                >Data:
                <span class="text-red-500" *ngIf="formMode !== 'detail'"
                  >*</span
                ></label
              >
              <p-datepicker
                id="receivingDate"
                formControlName="receivingDate"
                dateFormat="dd/mm/yy"
                [showButtonBar]="true"
                class="w-full mt-1"
                [ngClass]="{
                  'border-red-500':
                    formSubmitted && receivingForm.get('receivingDate')?.invalid
                }"
              />
            </div>

            <div class="mb-4">
              <label
                for="observation"
                class="block text-sm font-medium text-gray-500"
                >Observação:
              </label>
              <textarea
                rows="5"
                pTextarea
                formControlName="observation"
                class="mt-1 p-2 border rounded-md w-full"
              ></textarea>
            </div>
          </div>
        </section>

        <hr class="mt-6 mb-2 border-t border-surface-700" />

        <section>
          <div class="flex justify-between items-center mb-4">
            <h2 class="text-xl font-semibold text-white mt-4">
              Itens
              <span class="text-red-500" *ngIf="formMode !== 'detail'">*</span>
            </h2>
            <p-button
              label="Adicionar"
              icon="pi pi-plus"
              (click)="addReceivedItem()"
              class="p-button-sm"
            ></p-button>
          </div>
          <div formArrayName="receivedItems" class="space-y-6">
            <div
              *ngFor="let item of receivedItems.controls; let i = index"
              [formGroupName]="i"
              class="grid grid-cols-1 md:grid-cols-10 gap-4 p-4 border border-surface-700 rounded-md bg-surface-900"
            >
              <div class="md:col-span-3">
                <label class="block text-sm font-medium text-gray-500"
                  >Produto</label
                >
                <p-select
                  [options]="productOptions"
                  formControlName="productId"
                  placeholder="Selecione"
                  class="w-full mt-1"
                ></p-select>
              </div>

              <div class="md:col-span-1">
                <label class="block text-sm font-medium text-gray-500"
                  >Quantidade</label
                >
                <input
                  type="number"
                  pInputText
                  formControlName="quantity"
                  class="w-full mt-1"
                />
              </div>

              <div class="md:col-span-1">
                <label class="block text-sm font-medium text-gray-500"
                  >Valor Unitário</label
                >
                <input
                  type="number"
                  pInputText
                  formControlName="unitValue"
                  class="w-full mt-1"
                />
              </div>

              <div class="md:col-span-1">
                <label class="block text-sm font-medium text-gray-500"
                  >Valor Total</label
                >
                <input
                  type="number"
                  pInputText
                  formControlName="totalValue"
                  class="w-full mt-1"
                />
              </div>

              <div class="md:col-span-2">
                <label class="block text-sm font-medium text-gray-500"
                  >Lote</label
                >
                <input
                  type="text"
                  pInputText
                  formControlName="batch"
                  class="w-full mt-1"
                />
              </div>

              <div class="md:col-span-1">
                <label class="block text-sm font-medium text-gray-500 mb-1"
                  >Validade</label
                >
                <p-datepicker
                  formControlName="expiryDate"
                  dateFormat="dd/mm/yy"
                  [showButtonBar]="true"
                ></p-datepicker>
              </div>

              <div class="md:col-span-1 flex items-end">
                <button
                  pButton
                  pTooltip="Excluir"
                  tooltipPosition="top"
                  icon="pi pi-trash"
                  (click)="removeReceivedItem(i)"
                  severity="danger"
                  type="button"
                  [rounded]="true"
                  [outlined]="true"
                  class="mt-1 p-button-sm"
                ></button>
              </div>
            </div>
          </div>
        </section>
        <div class="flex justify-end pt-4 mt-4">
          <p-button
            label="Salvar"
            icon="pi pi-check"
            class="mr-2"
            (click)="saveReceiving()"
          ></p-button>
          <p-button
            label="Cancelar"
            icon="pi pi-times"
            severity="info"
            [outlined]="true"
          ></p-button>
        </div>
      </form>
    </div>
  </div>
</div>

<p-dialog
  [(visible)]="displayDialog"
  [modal]="true"
  [style]="{ width: '50vw' }"
  [header]="
    formMode === 'create'
      ? 'Novo Fornecedor'
      : formMode === 'update'
      ? 'Editar Fornecedor'
      : 'Detalhes do Fornecedor'
  "
  (onHide)="hideDialog()"
>
  <form [formGroup]="supplierForm" class="mt-4">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <div class="mb-4">
        <label for="name" class="block text-sm font-medium text-gray-500"
          >Nome:
          <span class="text-red-500" *ngIf="formMode !== 'detail'"
            >*</span
          ></label
        >
        <input
          id="name"
          pInputText
          type="text"
          formControlName="name"
          class="mt-1 p-2 border rounded-md w-full"
          [ngClass]="{
            'border-red-500': supplierForm.get('name')?.invalid
          }"
          [ngClass]="{
            'border-red-500': formSubmitted && supplierForm.get('name')?.invalid
          }"
        />
      </div>

      <div class="mb-4">
        <label for="cnpj" class="block text-sm font-medium text-gray-500"
          >CNPJ:
          <span class="text-red-500" *ngIf="formMode !== 'detail'"
            >*</span
          ></label
        >
        <p-inputmask
          id="cnpj"
          mask="99.999.999/9999-99"
          styleClass="w-full"
          formControlName="cnpj"
          [ngClass]="{
            'border-red-500': formSubmitted && supplierForm.get('cnpj')?.invalid
          }"
        />
      </div>

      <div class="mb-4">
        <label for="address" class="block text-sm font-medium text-gray-500"
          >Endereço:
          <span class="text-red-500" *ngIf="formMode !== 'detail'"
            >*</span
          ></label
        >
        <input
          id="address"
          pInputText
          type="text"
          formControlName="address"
          class="mt-1 p-2 border rounded-md w-full"
          [ngClass]="{
            'border-red-500':
              formSubmitted && supplierForm.get('address')?.invalid
          }"
        />
      </div>

      <div class="mb-4">
        <label for="number" class="block text-sm font-medium text-gray-500"
          >Número:
          <span class="text-red-500" *ngIf="formMode !== 'detail'"
            >*</span
          ></label
        >
        <input
          id="number"
          pInputText
          type="text"
          formControlName="number"
          class="mt-1 p-2 border rounded-md w-full"
          [ngClass]="{
            'border-red-500':
              formSubmitted && supplierForm.get('number')?.invalid
          }"
        />
      </div>

      <div class="mb-4">
        <label
          for="neighborhood"
          class="block text-sm font-medium text-gray-500"
          >Bairro:
          <span class="text-red-500" *ngIf="formMode !== 'detail'"
            >*</span
          ></label
        >
        <input
          id="neighborhood"
          pInputText
          type="text"
          formControlName="neighborhood"
          class="mt-1 p-2 border rounded-md w-full"
          [ngClass]="{
            'border-red-500':
              formSubmitted && supplierForm.get('neighborhood')?.invalid
          }"
        />
      </div>

      <div class="mb-4">
        <label for="city" class="block text-sm font-medium text-gray-500"
          >Cidade:
          <span class="text-red-500" *ngIf="formMode !== 'detail'"
            >*</span
          ></label
        >
        <input
          id="city"
          pInputText
          type="text"
          formControlName="city"
          class="mt-1 p-2 border rounded-md w-full"
          [ngClass]="{
            'border-red-500': formSubmitted && supplierForm.get('city')?.invalid
          }"
        />
      </div>

      <div class="mb-4">
        <label for="state" class="block text-sm font-medium text-gray-500"
          >Estado:
          <span class="text-red-500" *ngIf="formMode !== 'detail'"
            >*</span
          ></label
        >
        <input
          id="state"
          pInputText
          type="text"
          formControlName="state"
          class="mt-1 p-2 border rounded-md w-full"
          [ngClass]="{
            'border-red-500':
              formSubmitted && supplierForm.get('state')?.invalid
          }"
        />
      </div>

      <div class="mb-4">
        <label for="cep" class="block text-sm font-medium text-gray-500"
          >CEP:
          <span class="text-red-500" *ngIf="formMode !== 'detail'"
            >*</span
          ></label
        >
        <p-inputmask
          id="cep"
          mask="99999-999"
          styleClass="w-full mt-1"
          formControlName="cep"
          [ngClass]="{
            'border-red-500': formSubmitted && supplierForm.get('cep')?.invalid
          }"
        />
      </div>

      <div class="mb-4">
        <label for="email" class="block text-sm font-medium text-gray-500"
          >E-mail:
          <span class="text-red-500" *ngIf="formMode !== 'detail'"
            >*</span
          ></label
        >
        <input
          id="email"
          pInputText
          type="text"
          formControlName="email"
          class="mt-1 p-2 border rounded-md w-full"
          [ngClass]="{
            'border-red-500':
              formSubmitted && supplierForm.get('email')?.invalid
          }"
        />
      </div>

      <div class="mb-4">
        <label for="phone" class="block text-sm font-medium text-gray-500"
          >Telefone:
          <span class="text-red-500" *ngIf="formMode !== 'detail'"
            >*</span
          ></label
        >
        <p-inputmask
          id="phone"
          mask="(99) 9999-9999"
          styleClass="w-full"
          formControlName="phone"
          [ngClass]="{
            'border-red-500':
              formSubmitted && supplierForm.get('phone')?.invalid
          }"
        />
      </div>

      <div class="mb-4">
        <label class="block text-sm font-medium text-gray-500">Status:</label>
        <p-select
          [options]="statusOptions"
          formControlName="isActive"
          optionLabel="label"
          optionValue="value"
          class="w-full mt-1"
          placeholder="Selecione"
        ></p-select>
      </div>
    </div>
  </form>
  <ng-template pTemplate="footer">
    <p-button
      label="Salvar"
      icon="pi pi-check"
      (click)="saveSupplier()"
    ></p-button>
    <p-button
      label="Cancelar"
      icon="pi pi-times"
      severity="info"
      [outlined]="true"
      (click)="hideDialog()"
    ></p-button>
  </ng-template>
</p-dialog>
