<app-toast></app-toast>
<app-spinner></app-spinner>
<app-confirm-dialog></app-confirm-dialog>

<div class="flex items-center justify-center h-screen p-4">
  <div class="bg-zinc-800 rounded-lg shadow-xl p-8 w-full max-w-md">
    <h2 class="text-3xl font-bold text-white text-center mb-6">
      Cadastro de Conta
    </h2>

    <form [formGroup]="registerForm">
      <div class="mb-4">
        <label class="block text-gray-300 font-medium mb-2">Nome</label>
        <input
          type="text"
          formControlName="userName"
          pInputText
          class="w-full p-2 border-none bg-zinc-700 rounded text-white placeholder-gray-400"
          [ngClass]="{
            'p-invalid': formSubmitted && registerForm.get('userName')?.invalid
          }"
        />
      </div>

      <div class="mb-4">
        <label class="block text-gray-300 font-medium mb-2">Senha</label>
        <input
          type="password"
          formControlName="password"
          pInputText
          class="w-full p-2 border-none bg-zinc-700 rounded text-white placeholder-gray-400"
          [ngClass]="{
            'p-invalid': formSubmitted && registerForm.get('password')?.invalid
          }"
        />
      </div>

      <div class="mb-4">
        <label class="block text-gray-300 font-medium mb-2">Unidade</label>
        <p-select
          [options]="facilityOptions"
          formControlName="facilityId"
          optionLabel="label"
          optionValue="value"
          class="w-full mt-1"
          placeholder="Selecione"
          [ngClass]="{
            'border-red-500':
              formSubmitted && registerForm.get('facilityId')?.invalid
          }"
        ></p-select>
      </div>

      <div class="mb-4">
        <label class="block text-gray-300 font-medium mb-2">Função</label>
        <p-select
          [options]="rolesOptions"
          formControlName="role"
          optionLabel="label"
          optionValue="value"
          class="w-full mt-1"
          placeholder="Selecione"
          [ngClass]="{
            'border-red-500': formSubmitted && registerForm.get('role')?.invalid
          }"
        ></p-select>
      </div>

      <div class="flex items-center justify-center mt-6">
        <button
          pButton
          label="Cadastrar"
          icon="pi pi-check"
          class="w-full p-button-sm"
          (click)="register()"
        ></button>
      </div>
    </form>
  </div>
</div>
