<div class="container mx-auto p-6">
  <p-toolbar styleClass="bg-zinc-800 p-5 rounded-lg shadow-xl mb-8">
    <div class="p-toolbar-group-start flex flex-col">
      <h1 class="text-lg md:text-xl text-gray-300 font-semibold mb-2">
        Dashboard
      </h1>
      <h2 class="text-2xl md:text-3xl font-bold text-white">
        Araras Health Hub
      </h2>
    </div>
  </p-toolbar>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mb-8">
    <div
      class="bg-zinc-800 p-6 rounded-lg shadow-md cursor-pointer hover:bg-zinc-700 transition-colors duration-300"
      routerLink="/pedido/aprovar"
    >
      <div class="flex items-center justify-between mb-4">
        <h3 class="text-xl font-semibold text-white">Aprovação de Pedidos</h3>
        <i class="pi pi-list-check text-red-400 text-3xl"></i>
      </div>
      <p class="text-4xl font-bold text-white">3</p>
      <p class="text-gray-400 mt-1">Pedidos pendentes para aprovação</p>
    </div>

    <div
      class="bg-zinc-800 p-6 rounded-lg shadow-md cursor-pointer hover:bg-zinc-700 transition-colors duration-300"
      routerLink="/pedido/separar"
    >
      <div class="flex items-center justify-between mb-4">
        <h3 class="text-xl font-semibold text-white">Separação de Itens</h3>
        <i class="pi pi-inbox text-orange-400 text-3xl"></i>
      </div>
      <p class="text-4xl font-bold text-white">2</p>
      <p class="text-gray-400 mt-1">Pedidos aguardando separação</p>
    </div>

    <div
      class="bg-zinc-800 p-6 rounded-lg shadow-md cursor-pointer hover:bg-zinc-700 transition-colors duration-300"
      routerLink="/pedido/finalizar"
    >
      <div class="flex items-center justify-between mb-4">
        <h3 class="text-xl font-semibold text-white">
          Finalização de Entregas
        </h3>
        <i class="pi pi-truck text-green-400 text-3xl"></i>
      </div>
      <p class="text-4xl font-bold text-white">5</p>
      <p class="text-gray-400 mt-1">Pedidos aguardando registro de entrega</p>
    </div>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mb-8">
    <div
      class="bg-zinc-800 p-6 rounded-lg shadow-md cursor-pointer hover:bg-zinc-700 transition-colors duration-300"
      routerLink="/estoque/critico"
    >
      <div class="flex items-center justify-between mb-4">
        <h3 class="text-xl font-semibold text-white">Itens em Estoque Crítico</h3>
        <i class="pi pi-exclamation-triangle text-red-600 text-3xl"></i>
      </div>
      <p class="text-4xl font-bold text-white">14</p>
      <p class="text-gray-400 mt-1">Itens abaixo do estoque mínimo</p>
    </div>
    <div
      class="bg-zinc-800 p-6 rounded-lg shadow-md flex flex-col items-center justify-center cursor-pointer hover:bg-zinc-700 transition-colors duration-300"
      routerLink="/entradas/nova"
    >
      <i class="pi pi-plus-circle text-blue-400 text-4xl mb-4"></i>
      <span class="text-xl font-semibold text-white text-center"
        >Registrar Nova Entrada</span
      >
    </div>

    <div
      class="bg-zinc-800 p-6 rounded-lg shadow-md cursor-pointer hover:bg-zinc-700 transition-colors duration-300"
      routerLink="/estoque"
    >
      <div class="flex items-center justify-between mb-4">
        <h3 class="text-xl font-semibold text-white">Itens em Estoque</h3>
        <i class="pi pi-database text-green-400 text-3xl"></i>
      </div>
      <p class="text-4xl font-bold text-white">5.420</p>
      <p class="text-gray-400 mt-1">Produtos ativos</p>
    </div>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    <div
      class="bg-zinc-800 p-6 rounded-lg shadow-md flex flex-col items-center justify-center cursor-pointer hover:bg-zinc-700 transition-colors duration-300"
      routerLink="/unidades"
    >
      <i class="pi pi-building text-blue-400 text-4xl mb-4"></i>
      <span class="text-xl font-semibold text-white text-center"
        >Gerenciar Unidades</span
      >
    </div>

    <div
      class="bg-zinc-800 p-6 rounded-lg shadow-md flex flex-col items-center justify-center cursor-pointer hover:bg-zinc-700 transition-colors duration-300"
      routerLink="/contas"
    >
      <i class="pi pi-users text-teal-400 text-4xl mb-4"></i>
      <span class="text-xl font-semibold text-white text-center"
        >Gerenciar Contas</span
      >
    </div>

    <div
      class="bg-zinc-800 p-6 rounded-lg shadow-md flex flex-col items-center justify-center cursor-pointer hover:bg-zinc-700 transition-colors duration-300"
      routerLink="/relatorios"
    >
      <i class="pi pi-chart-bar text-orange-400 text-4xl mb-4"></i>
      <span class="text-xl font-semibold text-white text-center"
        >Visualizar Relatórios</span
      >
    </div>
  </div>
</div>
