app-drawer {
  .p-drawer-header {
    padding: 1.25rem 1rem 0.75rem 1rem !important;
    background-color: rgb(244 244 245 / 0.5);
    border-bottom: 1px solid rgb(228 228 231);

    .p-drawer-title {
      font-size: 1.1rem;
      font-weight: 600;
      color: rgb(24 24 27);
    }
  }

  .dark & {
    .p-drawer-header {
      background-color: rgb(16 16 18 / 0.5);
      border-bottom-color: rgb(39 39 42);

      .p-drawer-title {
        color: rgb(244 244 245);
      }
    }
  }
}
