<footer class="bg-surface-900 text-white-600 p-4 mt-14">
  <div
    class="container mx-auto flex flex-col md:flex-row items-center justify-between"
  >
    <div class="text-center md:text-left mb-2 md:mb-0">
      <p>
        &copy; {{ currentYear }} Araras Health Hub. Todos os direitos
        reservados.
      </p>
    </div>
    <div class="flex space-x-4">
      <a href="#" class="hover:text-blue-400">Termos de Serviço</a>
      <a href="#" class="hover:text-blue-400">Política de Privacidade</a>
      <a href="#" class="hover:text-blue-400">Contato</a>
    </div>
  </div>
</footer>
