<app-breadcrumb [itemsBreadcrumb]="itemsBreadcrumb"></app-breadcrumb>

<div class="container mx-auto">
  <div class="mt-10">
    <p-toolbar>
      <ng-template #start>
        <span class="text-xl font-bold mt-2 mb-2">Cadastro de Usuários</span>
      </ng-template>

      <ng-template #end></ng-template>
    </p-toolbar>
  </div>

  <p-card>
    <form [formGroup]="formGroup">
      <div class="grid grid-cols-3 gap-8">
        <div class="flex-auto">
          <label for="id" class="font-bold block mb-2">Id:</label>
          <input
            type="text"
            id="id"
            pInputText
            class="w-full"
            formControlName="id"
          />
        </div>

        <div class="flex-auto">
          <label for="name" class="font-bold block mb-2">Nome:</label>
          <input
            type="text"
            id="name"
            pInputText
            class="w-full"
            formControlName="name"
          />
        </div>

        <div class="flex-auto">
          <label for="password" class="font-bold block mb-2">Senha:</label>
          <input
            type="text"
            id="password"
            pInputText
            class="w-full"
            formControlName="password"
          />
        </div>
      </div>

      <div class="grid grid-cols-3 gap-8 mt-6">
        <div class="flex-auto">
          <label for="function" class="font-bold block mb-2">Função:</label>
          <input
            type="text"
            id="function"
            pInputText
            class="w-full"
            formControlName="function"
          />
        </div>

        <div class="flex-auto">
          <label for="phone" class="font-bold block mb-2">Telefone:</label>
          <p-inputmask
            id="phone"
            mask="(99) 99999-9999"
            styleClass="w-full"
            formControlName="phone"
          />
        </div>

        <div class="flex-auto">
          <label for="accessLevel" class="font-bold block mb-2">Tipo:</label>
          <p-select
            id="accessLevel"
            [options]="accessLevel"
            optionLabel="description"
            placeholder="Selecione"
            class="w-full"
            formControlName="accessLevel"
          />
        </div>
      </div>

      <div class="grid grid-cols-3 gap-8 mt-6">
        <div class="flex-auto">
          <label for="isActive" class="font-bold block mb-2">Status:</label>
          <p-select
            id="isActive"
            [options]="isActive"
            optionLabel="description"
            placeholder="Selecione"
            class="w-full"
            formControlName="isActive"
          />
        </div>
      </div>
    </form>
    <ng-template #footer>
      <div class="flex flex-row-reverse gap-4 mt-6">
        <p-button
          label="Deletar"
          severity="danger"
          icon="pi pi-trash"
          [outlined]="true"
        />
        <p-button
          label="Salvar"
          severity="primary"
          icon="pi pi-check"
          [outlined]="false"
        />
      </div>
    </ng-template>
  </p-card>
</div>
