<app-breadcrumb [itemsBreadcrumb]="itemsBreadcrumb"></app-breadcrumb>
<app-toast></app-toast>
<app-spinner></app-spinner>
<div class="container mx-auto">
  <div class="card mt-10">
    <p-toast />
    <p-toolbar>
      <ng-template #start>
        <span class="text-xl font-bold mt-2 mb-2">Fornecedores</span>
      </ng-template>

      <ng-template #end></ng-template>
    </p-toolbar>

    <p-table
      #dt
      [value]="suppliers"
      [rows]="5"
      [rowsPerPageOptions]="[5, 10, 25]"
      [columns]="cols"
      [paginator]="true"
      [globalFilterFields]="[
        'id',
        'name',
        'address',
        'number',
        'neighborhood',
        'city',
        'state',
        'cep',
        'email',
        'phone',
        'isActive'
      ]"
      [tableStyle]="{ 'min-width': '75rem' }"
      [(selection)]="selectedSupplier"
      [rowHover]="true"
      dataKey="id"
      currentPageReportTemplate="Mostrando {first} a {last} dos {totalRecords} Registros"
      [showCurrentPageReport]="true"
    >
      <ng-template #caption>
        <div class="flex items-center justify-between">
          <p-iconfield>
            <p-inputicon styleClass="pi pi-search" />
            <input
              pInputText
              type="text"
              (input)="dt.filterGlobal($any($event.target).value, 'contains')"
              placeholder="Pesquisar..."
            />
          </p-iconfield>
          <div>
            <p-button label="Novo" icon="pi pi-plus" class="mr-2" />
            <p-button
              label="Exportar"
              icon="pi pi-upload"
              severity="secondary"
              (onClick)="exportCSV()"
            />
          </div>
        </div>
      </ng-template>

      <ng-template #header>
        <tr>
          <th style="min-width: 5rem" pSortableColumn="id">ID</th>
          <th style="min-width: 20rem" pSortableColumn="name">NOME</th>
          <th style="min-width: 20rem" pSortableColumn="address">ENDEREÇO</th>
          <th style="min-width: 10rem" pSortableColumn="number">NÚMERO</th>
          <th style="min-width: 20rem" pSortableColumn="neighborhood">
            BAIRRO
          </th>
          <th style="min-width: 10rem" pSortableColumn="city">CIDADE</th>
          <th style="min-width: 10rem" pSortableColumn="state">ESTADO</th>
          <th style="min-width: 12rem" pSortableColumn="cep">CEP</th>
          <th style="min-width: 12rem" pSortableColumn="email">E-MAIL</th>
          <th style="min-width: 12rem" pSortableColumn="phone">TELEFONE</th>
          <th style="min-width: 8rem" pSortableColumn="isActive">STATUS</th>
          <th style="min-width: 10rem">AÇÕES</th>
        </tr>
      </ng-template>

      <ng-template #body let-supplier>
        <tr>
          <td>{{ supplier.id }}</td>
          <td>{{ supplier.name }}</td>
          <td>{{ supplier.address }}</td>
          <td>{{ supplier.number }}</td>
          <td>{{ supplier.neighborhood }}</td>
          <td>{{ supplier.city }}</td>
          <td>{{ supplier.state }}</td>
          <td>{{ supplier.cep }}</td>
          <td>{{ supplier.email }}</td>
          <td>{{ supplier.phone }}</td>
          <td>
            <p-tag
              [value]="getStatus(supplier.isActive)"
              [severity]="getSeverity(supplier.isActive)"
            />
          </td>
          <td>
            <p-button
              icon="pi pi-pencil"
              class="mr-2"
              [rounded]="true"
              [outlined]="true"
            />
            <p-button
              icon="pi pi-trash"
              severity="danger"
              [rounded]="true"
              [outlined]="true"
            />
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
