<app-breadcrumb [itemsBreadcrumb]="itemsBreadcrumb"></app-breadcrumb>

<app-spinner [loading]="isLoading"></app-spinner>
<app-confirm-dialog></app-confirm-dialog>

<div class="container mx-auto">
  <div class="card mt-10">
    <app-table-header [title]="title"></app-table-header>

    <ng-container *ngIf="suppliers$ | async as suppliers">
      <app-table
        [value]="suppliers"
        [rows]="5"
        [rowsPerPageOptions]="[5, 10, 25]"
        [lazy]="true"
        (onLazyLoad)="loadSuppliers($event)"
        [totalRecords]="totalRecords"
        [globalFilterFields]="[
          'id',
          'name',
          'cnpj',
          'address',
          'number',
          'neighborhood',
          'city',
          'state',
          'cep',
          'email',
          'phone',
          'isActive'
        ]"
        [loading]="isLoading"
        [colspan]="13"
      >
        <ng-template #captionTemplate let-dt>
          <div class="flex items-center justify-between">
            <p-iconfield>
              <p-inputicon styleClass="pi pi-search" />
              <input
                pInputText
                type="text"
                (input)="onSearchInput($any($event.target).value)"
                placeholder="Pesquisar..."
              />
            </p-iconfield>
            <div>
              <p-button
                *appHasRole="['Master', 'Admin']"
                label="Novo"
                icon="pi pi-plus"
                class="mr-2"
                (click)="openForm(FormMode.Create)"
              />
              <p-button
                label="Exportar"
                icon="pi pi-upload"
                severity="secondary"
                (click)="exportSuppliers()"
              />
            </div>
          </div>
        </ng-template>

        <ng-template #headerTemplate>
          <tr>
            <th style="min-width: 5rem" pSortableColumn="id">ID</th>
            <th style="min-width: 20rem" pSortableColumn="name">NOME</th>
            <th style="min-width: 12rem" pSortableColumn="city">CIDADE</th>
            <th style="min-width: 10rem" pSortableColumn="state">ESTADO</th>
            <th style="min-width: 20rem" pSortableColumn="email">E-MAIL</th>
            <th style="min-width: 12rem" pSortableColumn="phone">TELEFONE</th>
            <th style="min-width: 8rem" pSortableColumn="isActive">STATUS</th>
            <th style="min-width: 15rem">AÇÕES</th>
          </tr>
        </ng-template>

        <ng-template #bodyTemplate let-supplier>
          <tr>
            <td>{{ supplier.id }}</td>
            <td>{{ supplier.name }}</td>
            <td>{{ supplier.city }}</td>
            <td>{{ supplier.state }}</td>
            <td>{{ supplier.email }}</td>
            <td>{{ supplier.phone }}</td>
            <td>
              <p-tag
                [value]="getStatus(supplier.isActive)"
                [severity]="getSeverity(supplier.isActive)"
              />
            </td>
            <td>
              <p-button
                *appHasRole="['Master', 'Admin']"
                icon="pi pi-pencil"
                class="mr-2"
                pTooltip="Editar"
                tooltipPosition="bottom"
                [rounded]="true"
                [outlined]="true"
                (click)="openForm(FormMode.Update, supplier)"
              />
              <p-button
                icon="pi pi-info-circle"
                class="mr-2"
                pTooltip="Detalhar"
                tooltipPosition="bottom"
                severity="info"
                [rounded]="true"
                [outlined]="true"
                (click)="openForm(FormMode.Detail, supplier)"
              />
              <p-button
                *appHasRole="['Master', 'Admin']"
                icon="pi pi-trash"
                severity="danger"
                [pTooltip]="supplier.isActive ? 'Desativar' : 'Ativar'"
                tooltipPosition="bottom"
                [rounded]="true"
                [outlined]="true"
                (click)="changeStatusSupplier(supplier.id, supplier)"
              />
            </td>
          </tr>
        </ng-template>
      </app-table>
    </ng-container>

    <app-dialog
      [(visible)]="displayDialog"
      [formMode]="formMode"
      [headerText]="headerText"
      (onSave)="saveSupplier()"
    >
      <form [formGroup]="supplierForm" class="mt-4">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
          <div class="mb-4" *ngIf="formMode !== 'create'">
            <label for="id" class="block text-sm font-medium text-gray-500"
              >ID:</label
            >
            <input
              id="id"
              pInputText
              type="text"
              formControlName="id"
              class="mt-1 p-2 border rounded-md w-full"
            />
          </div>

          <div class="mb-4">
            <label for="name" class="block text-sm font-medium text-gray-500"
              >Nome:
              <span class="text-red-500" *ngIf="formMode !== 'detail'"
                >*</span
              ></label
            >
            <input
              id="name"
              pInputText
              type="text"
              formControlName="name"
              maxlength="150"
              class="mt-1 p-2 border rounded-md w-full"
              [ngClass]="{
                'border-red-500': supplierForm.get('name')?.invalid
              }"
              [ngClass]="{
                'border-red-500':
                  formSubmitted && supplierForm.get('name')?.invalid
              }"
            />
          </div>

          <div class="mb-4">
            <label for="cnpj" class="block text-sm font-medium text-gray-500"
              >CNPJ:
              <span class="text-red-500" *ngIf="formMode !== 'detail'"
                >*</span
              ></label
            >
            <p-inputmask
              id="cnpj"
              mask="99.999.999/9999-99"
              styleClass="w-full mt-1"
              formControlName="cnpj"
              maxlength="18"
              (onBlur)="validateCnpj()"
              [ngClass]="{
                'ng-invalid ng-dirty':
                  supplierForm.get('cnpj')?.invalid &&
                  (formSubmitted || supplierForm.get('cnpj')?.touched)
              }"
            />
          </div>

          <div class="mb-4">
            <label for="cep" class="block text-sm font-medium text-gray-500"
              >CEP:
              <span class="text-red-500" *ngIf="formMode !== 'detail'"
                >*</span
              ></label
            >
            <p-inputmask
              id="cep"
              mask="99999-999"
              styleClass="w-full mt-1"
              formControlName="cep"
              maxlength="10"
              (onBlur)="searchCep()"
              [ngClass]="{
                'ng-invalid ng-dirty':
                  supplierForm.get('cep')?.invalid &&
                  (formSubmitted || supplierForm.get('cep')?.touched)
              }"
            />
          </div>

          <div class="mb-4">
            <label for="address" class="block text-sm font-medium text-gray-500"
              >Endereço:
              <span class="text-red-500" *ngIf="formMode !== 'detail'"
                >*</span
              ></label
            >
            <input
              id="address"
              pInputText
              type="text"
              formControlName="address"
              maxlength="200"
              class="mt-1 p-2 border rounded-md w-full"
              [ngClass]="{
                'border-red-500':
                  formSubmitted && supplierForm.get('address')?.invalid
              }"
            />
          </div>

          <div class="mb-4">
            <label for="number" class="block text-sm font-medium text-gray-500"
              >Número:
              <span class="text-red-500" *ngIf="formMode !== 'detail'"
                >*</span
              ></label
            >
            <input
              id="number"
              pInputText
              type="text"
              formControlName="number"
              maxlength="20"
              class="mt-1 p-2 border rounded-md w-full"
              [ngClass]="{
                'border-red-500':
                  formSubmitted && supplierForm.get('number')?.invalid
              }"
            />
          </div>

          <div class="mb-4">
            <label
              for="neighborhood"
              class="block text-sm font-medium text-gray-500"
              >Bairro:
              <span class="text-red-500" *ngIf="formMode !== 'detail'"
                >*</span
              ></label
            >
            <input
              id="neighborhood"
              pInputText
              type="text"
              formControlName="neighborhood"
              maxlength="100"
              class="mt-1 p-2 border rounded-md w-full"
              [ngClass]="{
                'border-red-500':
                  formSubmitted && supplierForm.get('neighborhood')?.invalid
              }"
            />
          </div>

          <div class="mb-4">
            <label for="city" class="block text-sm font-medium text-gray-500"
              >Cidade:
              <span class="text-red-500" *ngIf="formMode !== 'detail'"
                >*</span
              ></label
            >
            <input
              id="city"
              pInputText
              type="text"
              formControlName="city"
              maxlength="100"
              class="mt-1 p-2 border rounded-md w-full"
              [ngClass]="{
                'border-red-500':
                  formSubmitted && supplierForm.get('city')?.invalid
              }"
            />
          </div>

          <div class="mb-4">
            <label for="state" class="block text-sm font-medium text-gray-500"
              >Estado:
              <span class="text-red-500" *ngIf="formMode !== 'detail'"
                >*</span
              ></label
            >
            <input
              id="state"
              pInputText
              type="text"
              formControlName="state"
              maxlength="2"
              class="mt-1 p-2 border rounded-md w-full"
              [ngClass]="{
                'border-red-500':
                  formSubmitted && supplierForm.get('state')?.invalid
              }"
            />
          </div>

          <div class="mb-4">
            <label for="email" class="block text-sm font-medium text-gray-500"
              >E-mail:
              <span class="text-red-500" *ngIf="formMode !== 'detail'"
                >*</span
              ></label
            >
            <input
              id="email"
              pInputText
              type="text"
              formControlName="email"
              maxlength="100"
              class="mt-1 p-2 border rounded-md w-full"
              [ngClass]="{
                'border-red-500':
                  formSubmitted && supplierForm.get('email')?.invalid
              }"
            />
          </div>

          <div class="mb-4">
            <label for="phone" class="block text-sm font-medium text-gray-500"
              >Telefone:
              <span class="text-red-500" *ngIf="formMode !== 'detail'"
                >*</span
              ></label
            >
            <p-inputmask
              id="phone"
              mask="(99) 9999-9999"
              styleClass="w-full mt-1"
              formControlName="phone"
              maxlength="20"
              [ngClass]="{
                'ng-invalid ng-dirty':
                  supplierForm.get('phone')?.invalid &&
                  (formSubmitted || supplierForm.get('phone')?.touched)
              }"
            />
          </div>

          <div class="mb-4" *ngIf="formMode !== 'create'">
            <label class="block text-sm font-medium text-gray-500"
              >Status:</label
            >
            <p-select
              [options]="statusOptions"
              formControlName="isActive"
              optionLabel="label"
              optionValue="value"
              class="w-full mt-1"
              placeholder="Selecione"
            ></p-select>
          </div>
        </div>
      </form>
    </app-dialog>
  </div>
</div>
