<app-breadcrumb [itemsBreadcrumb]="itemsBreadcrumb()" />
<app-spinner [loading]="isLoading()" />

<app-confirm-dialog
  #confirmDialog
  acceptLabel="Confirmar"
  rejectLabel="Cancelar"
  acceptIcon="pi pi-check-circle"
  rejectIcon="pi pi-ban" />

<div class="p-6 max-w-7xl mx-auto space-y-6">
  <app-page-header [title]="title" [description]="description" />

  <app-supplier-table
    [value]="suppliers()"
    [totalRecords]="totalRecords()"
    [rows]="rows()"
    [first]="first()"
    [loading]="isLoading()"
    (lazyLoad)="loadSuppliers($event)"
    (searchChange)="onSearch($event)"
    (add)="openForm(FormMode.Create)"
    (edit)="openForm(FormMode.Update, $event)"
    (detail)="openForm(FormMode.Detail, $event)"
    (changeStatus)="changeStatusSupplier($event)"
    (pdfClick)="generatePdfReport()" />

  <app-supplier-drawer-form
    [(visible)]="displayDrawer"
    [formMode]="formMode"
    [supplierData]="selectedSupplier"
    (save)="saveSupplier($event)" />
</div>
