<div class="flex items-center justify-center h-screen">
  <div class="bg-surface-900 rounded-lg shadow-md p-8 text-center">
    <div class="text-4xl font-bold text-teal-500 mb-4">Araras Health Hub</div>
    <div class="text-white-600 mb-4">
      <p class="mb-2">
        A Araras Health Hub é uma plataforma inovadora desenvolvida para
        otimizar a gestão de estoque de centros de distribuição de medicamentos.
      </p>
      <p class="mb-2">
        Nosso objetivo é fornecer uma solução completa e eficiente para o
        controle de estoque, desde a entrada de medicamentos até a distribuição
        para farmácias e hospitais.
      </p>
      <p class="mb-2">
        Com a Araras Health Hub, você pode monitorar o estoque em tempo real,
        gerar relatórios personalizados, automatizar processos e garantir a
        rastreabilidade dos medicamentos.
      </p>
    </div>
    <button
      pButton
      label="Voltar para a página inicial"
      class="mt-4"
      routerLink="/"
    ></button>
  </div>
</div>
