<app-breadcrumb [itemsBreadcrumb]="itemsBreadcrumb"></app-breadcrumb>

<app-toast></app-toast>
<app-spinner></app-spinner>
<app-confirm-dialog></app-confirm-dialog>

<div class="container mx-auto">
  <div class="card mt-10">
    <p-toolbar>
      <ng-template #start>
        <span class="text-xl font-bold mt-2 mb-2">Entradas</span>
      </ng-template>

      <ng-template #end></ng-template>
    </p-toolbar>

    <p-table
      #dt
      [value]="receivings"
      [rows]="5"
      [rowsPerPageOptions]="[5, 10, 25]"
      [columns]="cols"
      [paginator]="true"
      [globalFilterFields]="[
        'id',
        'supplierId',
        'receivingDate',
        'invoiceNumber',
        'supplyAuthorization',
        'responsibleId',
        'observation'
      ]"
      [tableStyle]="{ 'min-width': '75rem' }"
      [(selection)]="selectedReceiving"
      [rowHover]="true"
      dataKey="id"
      currentPageReportTemplate="Mostrando {first} a {last} dos {totalRecords} Registros"
      [showCurrentPageReport]="true"
    >
      <ng-template #caption>
        <div class="flex items-center justify-between">
          <p-iconfield>
            <p-inputicon styleClass="pi pi-search" />
            <input
              pInputText
              type="text"
              (input)="dt.filterGlobal($any($event.target).value, 'contains')"
              placeholder="Pesquisar..."
            />
          </p-iconfield>
          <div>
            <p-button
              label="Novo"
              icon="pi pi-plus"
              class="mr-2"
              (click)="navigateToCreateReceiving()"
            />
            <p-button
              label="Exportar"
              icon="pi pi-upload"
              severity="secondary"
              (onClick)="exportCSV()"
            />
          </div>
        </div>
      </ng-template>

      <ng-template #header>
        <tr>
          <th style="min-width: 5rem" pSortableColumn="id">ID</th>
          <th style="min-width: 15rem" pSortableColumn="invoiceNumber">
            NOTA FISCAL
          </th>
          <th style="min-width: 19rem" pSortableColumn="supplyAuthorization">
            AUTORIZAÇÃO DE FORNECIMENTO
          </th>
          <th style="min-width: 25rem" pSortableColumn="supplier.name">
            FORNECEDOR
          </th>
          <th style="min-width: 12rem" pSortableColumn="receivingDate">DATA</th>
          <th style="min-width: 15rem" pSortableColumn="responsible.name">
            RESPONSÁVEL
          </th>
          <th style="min-width: 20rem" pSortableColumn="observation">
            OBSERVAÇÃO
          </th>
          <th style="min-width: 15rem">AÇÕES</th>
        </tr>
      </ng-template>

      <ng-template #body let-receiving>
        <tr>
          <td>{{ receiving.id }}</td>
          <td>{{ receiving.invoiceNumber }}</td>
          <td>{{ receiving.supplyAuthorization }}</td>
          <td>{{ receiving.supplier.name }}</td>
          <td>{{ receiving.receivingDate | date : "dd/MM/yyyy" }}</td>
          <td>{{ receiving.responsible.name }}</td>
          <td>{{ receiving.observation }}</td>
          <td>
            <p-button
              icon="pi pi-info-circle"
              class="mr-2"
              pTooltip="Detalhar"
              tooltipPosition="bottom"
              severity="info"
              [rounded]="true"
              [outlined]="true"
              (click)="openForm(FormMode.Detail, receiving)"
            />
          </td>
        </tr>
      </ng-template>
    </p-table>

    <p-dialog
      [(visible)]="displayDialog"
      [modal]="true"
      [style]="{ width: '50vw' }"
      [header]="
        formMode === 'create'
          ? 'Nova Entrada'
          : formMode === 'update'
          ? 'Editar Entrada'
          : 'Detalhes da Entrada'
      "
      (onHide)="hideDialog()"
    >
      <form [formGroup]="receivingForm" class="mt-4">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
          <div class="mb-4" *ngIf="formMode !== 'create'">
            <label for="id" class="block text-sm font-medium text-gray-500"
              >ID:</label
            >
            <input
              id="id"
              pInputText
              type="text"
              formControlName="id"
              class="mt-1 p-2 border rounded-md w-full"
            />
          </div>

          <div class="mb-4">
            <label
              for="supplierId"
              class="block text-sm font-medium text-gray-500"
              >Fornecedor:
              <span class="text-red-500" *ngIf="formMode !== 'detail'"
                >*</span
              ></label
            >
            <input
              id="supplierId"
              pInputText
              type="text"
              formControlName="supplierId"
              class="mt-1 p-2 border rounded-md w-full"
              [ngClass]="{
                'border-red-500':
                  formSubmitted && receivingForm.get('supplierId')?.invalid
              }"
            />
          </div>

          <div class="mb-4">
            <label
              for="receivingDate"
              class="block text-sm font-medium text-gray-500"
              >Data:
              <span class="text-red-500" *ngIf="formMode !== 'detail'"
                >*</span
              ></label
            >
            <input
              id="receivingDate"
              pInputText
              type="text"
              formControlName="receivingDate"
              class="mt-1 p-2 border rounded-md w-full"
              [ngClass]="{
                'border-red-500':
                  formSubmitted && receivingForm.get('receivingDate')?.invalid
              }"
            />
          </div>

          <div class="mb-4">
            <label
              for="invoiceNumber"
              class="block text-sm font-medium text-gray-500"
              >Nota Fiscal:
              <span class="text-red-500" *ngIf="formMode !== 'detail'"
                >*</span
              ></label
            >
            <input
              id="invoiceNumber"
              pInputText
              type="text"
              formControlName="invoiceNumber"
              class="mt-1 p-2 border rounded-md w-full"
              [ngClass]="{
                'border-red-500':
                  formSubmitted && receivingForm.get('invoiceNumber')?.invalid
              }"
            />
          </div>

          <div class="mb-4">
            <label
              for="responsibleId"
              class="block text-sm font-medium text-gray-500"
              >Responsável:
              <span class="text-red-500" *ngIf="formMode !== 'detail'"
                >*</span
              ></label
            >
            <input
              id="responsibleId"
              pInputText
              type="text"
              formControlName="responsibleId"
              class="mt-1 p-2 border rounded-md w-full"
              [ngClass]="{
                'border-red-500':
                  formSubmitted && receivingForm.get('responsibleId')?.invalid
              }"
            />
          </div>

          <div class="mb-4">
            <label
              for="observation"
              class="block text-sm font-medium text-gray-500"
              >Observação:
              <span class="text-red-500" *ngIf="formMode !== 'detail'"
                >*</span
              ></label
            >
            <input
              id="observation"
              pInputText
              type="text"
              formControlName="observation"
              class="mt-1 p-2 border rounded-md w-full"
              [ngClass]="{
                'border-red-500':
                  formSubmitted && receivingForm.get('observation')?.invalid
              }"
            />
          </div>
        </div>
      </form>
      <ng-template pTemplate="footer">
        <p-button
          label="Cancelar"
          icon="pi pi-times"
          severity="info"
          [outlined]="true"
          (click)="hideDialog()"
        ></p-button>
      </ng-template>
    </p-dialog>
  </div>
</div>
