<app-breadcrumb [itemsBreadcrumb]="itemsBreadcrumb"></app-breadcrumb>

<app-toast></app-toast>
<app-spinner></app-spinner>
<app-confirm-dialog></app-confirm-dialog>

<div class="container mx-auto">
  <div class="card mt-10">
    <p-toast />
    <p-toolbar>
      <ng-template #start>
        <span class="text-xl font-bold mt-2 mb-2">Clientes</span>
      </ng-template>

      <ng-template #end></ng-template>
    </p-toolbar>

    <p-table
      #dt
      [value]="accounts"
      [rows]="5"
      [rowsPerPageOptions]="[5, 10, 25]"
      [columns]="cols"
      [paginator]="true"
      [globalFilterFields]="['id', 'userName', 'destinationId', 'isActive']"
      [tableStyle]="{ 'min-width': '75rem' }"
      [(selection)]="selectedAccount"
      [rowHover]="true"
      dataKey="id"
      currentPageReportTemplate="Mostrando {first} a {last} dos {totalRecords} Registros"
      [showCurrentPageReport]="true"
    >
      <ng-template #caption>
        <div class="flex items-center justify-between">
          <p-iconfield>
            <p-inputicon styleClass="pi pi-search" />
            <input
              pInputText
              type="text"
              (input)="dt.filterGlobal($any($event.target).value, 'contains')"
              placeholder="Pesquisar..."
            />
          </p-iconfield>
          <div>
            <p-button
              label="Novo"
              icon="pi pi-plus"
              class="mr-2"
              (click)="navigateToRegister()"
            />
            <p-button
              label="Exportar"
              icon="pi pi-upload"
              severity="secondary"
              (onClick)="exportCSV()"
            />
          </div>
        </div>
      </ng-template>

      <ng-template #header>
        <tr>
          <th style="min-width: 5rem" pSortableColumn="id">ID</th>
          <th style="min-width: 20rem" pSortableColumn="userName">NOME</th>
          <th style="min-width: 20rem" pSortableColumn="destinationId">
            DESTINO
          </th>
          <th style="min-width: 15rem" pSortableColumn="role">FUNÇÃO</th>
          <th style="min-width: 8rem" pSortableColumn="isActive">STATUS</th>
          <th style="min-width: 15rem">AÇÕES</th>
        </tr>
      </ng-template>

      <ng-template #body let-account>
        <tr>
          <td>{{ account.id }}</td>
          <td>{{ account.userName }}</td>
          <td>{{ account.destination.name }}</td>
          <td>
            <p-tag
              [value]="getRoleValue(account.roles[0].name)"
              [severity]="getRoleSeverity(account.roles[0].name)"
            />
          </td>
          <td>
            <p-tag
              [value]="getStatus(account.isActive)"
              [severity]="getSeverity(account.isActive)"
            />
          </td>
          <td>
            <p-button
              icon="pi pi-pencil"
              class="mr-2"
              pTooltip="Editar"
              tooltipPosition="bottom"
              [rounded]="true"
              [outlined]="true"
              (click)="openForm(FormMode.Update, account)"
            />
            <p-button
              icon="pi pi-info-circle"
              class="mr-2"
              pTooltip="Detalhar"
              tooltipPosition="bottom"
              severity="info"
              [rounded]="true"
              [outlined]="true"
              (click)="openForm(FormMode.Detail, account)"
            />
            <p-button
              icon="pi pi-trash"
              severity="danger"
              [pTooltip]="account.isActive ? 'Desativar' : 'Ativar'"
              tooltipPosition="bottom"
              [rounded]="true"
              [outlined]="true"
              (click)="changeStatusAccount(account)"
            />
          </td>
        </tr>
      </ng-template>
    </p-table>

    <p-dialog
      [(visible)]="displayDialog"
      [modal]="true"
      [style]="{ width: '50vw' }"
      [header]="
        formMode === 'create'
          ? 'Novo Cliente'
          : formMode === 'update'
          ? 'Editar Cliente'
          : 'Detalhes do Cliente'
      "
      (onHide)="hideDialog()"
    >
      <form [formGroup]="accountForm" class="mt-4">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
          <div class="mb-4" *ngIf="formMode !== 'create'">
            <label for="id" class="block text-sm font-medium text-gray-500"
              >ID:</label
            >
            <input
              id="id"
              pInputText
              type="text"
              formControlName="id"
              class="mt-1 p-2 border rounded-md w-full"
            />
          </div>

          <div class="mb-4">
            <label
              for="userName"
              class="block text-sm font-medium text-gray-500"
              >Nome:
              <span class="text-red-500" *ngIf="formMode !== 'detail'"
                >*</span
              ></label
            >
            <input
              id="userName"
              pInputText
              type="text"
              formControlName="userName"
              class="mt-1 p-2 border rounded-md w-full"
              [ngClass]="{
                'border-red-500': accountForm.get('userName')?.invalid
              }"
              [ngClass]="{
                'border-red-500':
                  formSubmitted && accountForm.get('userName')?.invalid
              }"
            />
          </div>

          <div class="mb-4">
            <label class="block text-sm font-medium text-gray-500"
              >Destino:</label
            >
            <p-select
              [options]="destinationOptions"
              formControlName="destinationId"
              optionLabel="label"
              optionValue="value"
              class="w-full"
              placeholder="Selecione"
              [ngClass]="{
                'border-red-500': accountForm.get('destinationId')?.invalid
              }"
              [ngClass]="{
                'border-red-500':
                  formSubmitted && accountForm.get('destinationId')?.invalid
              }"
            ></p-select>
          </div>

          <div class="mb-4" *ngIf="formMode === 'create'">
            <label
              for="password"
              class="block text-sm font-medium text-gray-500"
              >Senha: <span class="text-red-500">*</span></label
            >
            <input
              type="password"
              formControlName="password"
              class="mt-1 p-2 border rounded-md w-full"
              [ngClass]="{
                'border-red-500':
                  formSubmitted && accountForm.get('password')?.invalid
              }"
            />
          </div>

          <div class="mb-4">
            <label class="block text-sm font-medium text-gray-500"
              >Status:</label
            >
            <p-select
              [options]="statusOptions"
              formControlName="isActive"
              optionLabel="label"
              optionValue="value"
              class="w-full"
              placeholder="Selecione"
            ></p-select>
          </div>
        </div>
      </form>
      <ng-template pTemplate="footer">
        <p-button
          *ngIf="formMode !== 'detail'"
          label="Salvar"
          icon="pi pi-check"
          (click)="saveAccount()"
        ></p-button>
        <p-button
          label="Cancelar"
          icon="pi pi-times"
          severity="info"
          [outlined]="true"
          (click)="hideDialog()"
        ></p-button>
      </ng-template>
    </p-dialog>
  </div>
</div>
