<app-breadcrumb [itemsBreadcrumb]="itemsBreadcrumb"></app-breadcrumb>

<app-spinner [loading]="isLoading"></app-spinner>
<app-confirm-dialog></app-confirm-dialog>

<div class="container mx-auto">
  <div class="card mt-10">
    <app-table-header [title]="title"></app-table-header>

    <ng-container *ngIf="accounts$ | async as accounts">
      <app-table
        [value]="accounts"
        [rows]="5"
        [rowsPerPageOptions]="[5, 10, 25]"
        [lazy]="true"
        (onLazyLoad)="loadAccounts($event)"
        [totalRecords]="totalRecords"
        [loading]="isLoading"
        [colspan]="7"
      >
        <ng-template #captionTemplate let-dt>
          <div class="flex items-center justify-between">
            <p-iconfield>
              <p-inputicon styleClass="pi pi-search" />
              <input
                pInputText
                type="text"
                (input)="onSearchInput($any($event.target).value)"
                placeholder="Pesquisar..."
              />
            </p-iconfield>
            <div>
              <p-button
                *appHasRole="['Master', 'Admin']"
                label="Novo"
                icon="pi pi-plus"
                class="mr-2"
                (click)="navigateToRegister()"
              />
              <p-button
                label="Exportar"
                icon="pi pi-upload"
                severity="secondary"
                (click)="exportEmployees()"
              />
            </div>
          </div>
        </ng-template>

        <ng-template #headerTemplate>
          <tr>
            <th style="min-width: 5rem">ID</th>
            <th style="min-width: 20rem">NOME</th>
            <th style="min-width: 20rem">UNIDADE</th>
            <th style="min-width: 10rem">FUNÇÃO</th>
            <th style="min-width: 8rem">ESCOPO</th>
            <th style="min-width: 8rem">STATUS</th>
            <th style="min-width: 15rem">AÇÕES</th>
          </tr>
        </ng-template>

        <ng-template #bodyTemplate let-account>
          <tr>
            <td>{{ account.userId }}</td>
            <td>{{ account.userName }}</td>
            <td>{{ account.facility.name }}</td>
            <td>
              <p-tag
                [value]="getRoleValue(account.roles[0])"
                [severity]="getRoleSeverity(account.roles[0])"
              />
            </td>
            <td>
              <p-tag
                [value]="getScopeValue(account.scope)"
                [severity]="getScopeSeverity(account.scope)"
              />
            </td>
            <td>
              <p-tag
                [value]="getStatus(account.isActive)"
                [severity]="getSeverity(account.isActive)"
              />
            </td>
            <td>
              <p-button
                *appHasRole="['Master', 'Admin']"
                icon="pi pi-pencil"
                class="mr-2"
                pTooltip="Editar"
                tooltipPosition="bottom"
                [rounded]="true"
                [outlined]="true"
                (click)="openForm(FormMode.Update, account)"
              />
              <p-button
                icon="pi pi-info-circle"
                class="mr-2"
                pTooltip="Detalhar"
                tooltipPosition="bottom"
                severity="info"
                [rounded]="true"
                [outlined]="true"
                (click)="openForm(FormMode.Detail, account)"
              />
              <p-button
                *appHasRole="['Master', 'Admin']"
                icon="pi pi-key"
                class="mr-2"
                pTooltip="Resetar Senha"
                tooltipPosition="bottom"
                severity="warn"
                [rounded]="true"
                [outlined]="true"
                (click)="openPasswordResetDialog(account)"
              />
              <p-button
                *appHasRole="['Master', 'Admin']"
                icon="pi pi-trash"
                severity="danger"
                [pTooltip]="account.isActive ? 'Desativar' : 'Ativar'"
                tooltipPosition="bottom"
                [rounded]="true"
                [outlined]="true"
                (click)="changeStatusAccount(account.userId, account)"
              />
            </td>
          </tr>
        </ng-template>
      </app-table>
    </ng-container>

    <app-dialog
      [(visible)]="displayDialog"
      [formMode]="formMode"
      [headerText]="headerText"
      (onSave)="saveAccount()"
    >
      <form [formGroup]="accountForm" class="mt-4">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
          <div class="mb-4">
            <label for="userId" class="block text-sm font-medium text-gray-500"
              >ID:</label
            >
            <input
              id="userId"
              pInputText
              type="text"
              formControlName="userId"
              class="mt-1 p-2 border rounded-md w-full"
            />
          </div>

          <div class="mb-4">
            <label
              for="userName"
              class="block text-sm font-medium text-gray-500"
              >Nome:
              <span class="text-red-500" *ngIf="formMode === FormMode.Update"
                >*</span
              ></label
            >
            <input
              id="userName"
              pInputText
              type="text"
              formControlName="userName"
              maxlength="100"
              class="mt-1 p-2 border rounded-md w-full"
              [ngClass]="{
                'border-red-500':
                  formSubmitted && accountForm.get('userName')?.invalid
              }"
            />
          </div>

          <div class="mb-4">
            <label class="block text-sm font-medium text-gray-500"
              >Unidade:
              <span class="text-red-500" *ngIf="formMode === FormMode.Update"
                >*</span
              ></label
            >
            <p-select
              [options]="facilityOptions"
              formControlName="facilityId"
              optionLabel="label"
              optionValue="value"
              class="w-full mt-1"
              placeholder="Selecione"
              [showClear]="true"
              [filter]="true"
              filterBy="label"
              [ngClass]="{
                'border-red-500':
                  formSubmitted && accountForm.get('facilityId')?.invalid
              }"
            ></p-select>
          </div>

          <div class="mb-4">
            <label class="block text-sm font-medium text-gray-500"
              >Função:
              <span class="text-red-500" *ngIf="formMode === FormMode.Update"
                >*</span
              ></label
            >
            <p-select
              [options]="rolesOptions"
              formControlName="role"
              optionLabel="label"
              optionValue="value"
              class="w-full mt-1"
              placeholder="Selecione"
              [showClear]="true"
              [filter]="true"
              filterBy="label"
              [ngClass]="{
                'border-red-500':
                  formSubmitted && accountForm.get('role')?.invalid
              }"
            ></p-select>
          </div>

          <div class="mb-4">
            <label class="block text-sm font-medium text-gray-500"
              >Escopo:
              <span class="text-red-500" *ngIf="formMode === FormMode.Update"
                >*</span
              ></label
            >
            <p-select
              [options]="scopeOptions"
              formControlName="scope"
              optionLabel="label"
              optionValue="value"
              class="w-full mt-1"
              placeholder="Selecione"
              [showClear]="true"
              [filter]="true"
              filterBy="label"
              [ngClass]="{
                'border-red-500':
                  formSubmitted && accountForm.get('scope')?.invalid
              }"
            ></p-select>
          </div>

          <div class="mb-4">
            <label class="block text-sm font-medium text-gray-500"
              >Status:</label
            >
            <p-select
              [options]="statusOptions"
              formControlName="isActive"
              optionLabel="label"
              optionValue="value"
              class="w-full mt-1"
              placeholder="Selecione"
            ></p-select>
          </div>
        </div>
      </form>
    </app-dialog>

    <app-dialog
      [(visible)]="displayPasswordDialog"
      [formMode]="FormMode.Update"
      headerText="Redefinir Senha"
      (onSave)="resetPassword()"
    >
      <form [formGroup]="passwordResetForm" class="mt-4">
        <div class="grid grid-cols-1 gap-4">
          <div class="mb-4">
            <label class="block text-sm font-medium text-gray-500">
              Conta:
            </label>
            <input
              pInputText
              type="text"
              formControlName="userName"
              class="mt-1 p-2 border rounded-md w-full"
              readonly
            />
          </div>

          <div class="mb-4">
            <label class="block text-sm font-medium text-gray-500">
              Nova Senha: <span class="text-red-500">*</span>
            </label>
            <input
              pInputText
              type="password"
              formControlName="newPassword"
              class="mt-1 p-2 border rounded-md w-full"
              [ngClass]="{
                'border-red-500':
                  formSubmitted && passwordResetForm.get('newPassword')?.invalid
              }"
            />
          </div>

          <div class="mb-4">
            <label class="block text-sm font-medium text-gray-500">
              Confirmar Senha: <span class="text-red-500">*</span>
            </label>
            <input
              pInputText
              type="password"
              formControlName="confirmPassword"
              class="mt-1 p-2 border rounded-md w-full"
              [ngClass]="{
                'border-red-500':
                  (formSubmitted &&
                    passwordResetForm.get('confirmPassword')?.invalid) ||
                  (formSubmitted && passwordResetForm.hasError('mismatch'))
              }"
            />
          </div>
        </div>
      </form>
    </app-dialog>
  </div>
</div>
