<div class="flex items-center justify-center h-screen">
  <div class="bg-surface-900 rounded-lg shadow-md p-8 text-center">
    <div class="text-6xl font-bold text-red-500">404</div>
    <div class="text-2xl font-semibold text-white-800 mt-4">
      Página não encontrada
    </div>
    <div class="text-gray-300 mt-2">
      A página que você está procurando não existe.
    </div>
    <button
      pButton
      label="Voltar para a página inicial"
      class="mt-8"
      routerLink="/"
    ></button>
  </div>
</div>
