@import "primeicons/primeicons.css";

@layer tailwind-base, primeng, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
  @tailwind components;
}

@layer tailwind-utilities {
  @tailwind utilities;

  .backdrop-blur-sm {
    backdrop-filter: blur(4px) !important;
  }

  .bg-zinc-950\/40 {
    background-color: rgb(9 9 11 / 0.4) !important;
  }

  .p-paginator {
    .p-paginator-page.p-paginator-page-selected {
      background-color: var(--p-primary-color) !important;
      color: var(--p-primary-contrast-color) !important;
    }

    .p-paginator-page:not(.p-paginator-page-selected):hover {
      background-color: var(--p-content-hover-background) !important;
    }
  }
}
