@if (loading()) {
  <div
    class="fixed inset-0 bg-zinc-950/30 dark:bg-zinc-950/50 flex items-center justify-center z-[99999] backdrop-blur-xs transition-all duration-300 select-none pointer-events-auto"
  >
    <div
      class="flex flex-col items-center gap-3 p-6 rounded-2xl bg-white/80 dark:bg-zinc-900/80 shadow-xl border border-zinc-200/50 dark:border-zinc-800/50 backdrop-blur-md"
    >
      <div
        class="custom-spinner h-10 w-10 rounded-full border-[3px] border-zinc-100 dark:border-zinc-800/60 border-t-emerald-500 dark:border-t-emerald-400"
      ></div>
    </div>
  </div>
}
